n8n-workflow.json
{
  "name": "EMI Email Intake Pipeline (Webhook + Outlook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emi-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "emi-intake"
    },
    {
      "parameters": {
        "event": "messageReceived",
        "options": {
          "folderToWatch": "inbox"
        }
      },
      "id": "outlook-trigger",
      "name": "Outlook Trigger",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 2,
      "position": [250, 520],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Microsoft Outlook (khanhnguyen@zeyalabs.ai)"
        }
      },
      "notes": "SETUP: In n8n Cloud > Credentials > Add > Microsoft Outlook OAuth2. Login with khanhnguyen@zeyalabs.ai. Grant Mail.Read + Mail.Send permissions. Then copy the credential ID here."
    },
    {
      "parameters": {
        "jsCode": "// Normalize both webhook POST and Outlook trigger into flat fields\n// Source auto-detected: Outlook emails have bodyPreview; webhooks do not\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  // DETECT SOURCE: Outlook trigger has bodyPreview or body.contentType\n  const isOutlook = d.bodyPreview !== undefined || d.body?.contentType !== undefined;\n  const source = isOutlook ? 'outlook' : 'webhook';\n\n  // SUBJECT\n  const subject = isOutlook\n    ? (d.subject || '')\n    : (d.body?.subject || d.subject || '');\n\n  // BODY: Outlook uses bodyPreview or body.content; webhook uses body field\n  let body = '';\n  if (isOutlook) {\n    body = d.bodyPreview || d.body?.content || '';\n  } else {\n    const raw = d.body?.body || d.bodyPreview || d.body || '';\n    body = typeof raw === 'string' ? raw : '';\n  }\n\n  // FROM: Outlook uses from.emailAddress.address; webhook uses flat 'from'\n  let from = '';\n  if (isOutlook) {\n    from = d.from?.emailAddress?.address || d.sender?.emailAddress?.address || '';\n  } else {\n    from = d.body?.from || d.from || '';\n  }\n\n  results.push({\n    json: {\n      _source: source,\n      subject: typeof subject === 'string' ? subject : '',\n      body: typeof body === 'string' ? body : '',\n      from: typeof from === 'string' ? from : '',\n      received_at: new Date().toISOString(),\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "normalize-data",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Salary",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-2",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "Disbursement",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-3",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "EMI",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-4",
              "leftValue": "={{ $json.subject }}",
              "rightValue": "OTC",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "if-keyword-filter",
      "name": "Keyword Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 400]
    },
    {
      "parameters": {
        "jsCode": "// Extract structured disbursement data from normalized email fields\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const subject = item.json.subject || '';\n  const body = item.json.body || '';\n  const from = item.json.from || '';\n  const source = item.json._source || 'webhook';\n\n  // COMPANY NAME\n  let company = 'Unknown Company';\n  const companyMatch = subject.match(/[\\u2013\\u2014\\-]\\s*(.+)$/);\n  if (companyMatch) company = companyMatch[1].trim();\n\n  // AMOUNT\n  let amount = 0;\n  const amountMatch = body.match(/([\\d,]+)\\s*(?:MMK|Kyat)/i)\n    || body.match(/(?:MMK|Kyat)\\s*([\\d,]+)/i)\n    || subject.match(/([\\d,]+)\\s*(?:MMK|Kyat)/i);\n  if (amountMatch) {\n    amount = parseInt(amountMatch[1].replace(/,/g, ''), 10);\n  }\n\n  // TYPE\n  const isOTC = /OTC/i.test(subject) || /OTC/i.test(body) || /over.the.counter/i.test(body);\n  const type = isOTC ? 'SalaryToOTC' : 'SalaryToMA';\n\n  // APPROVERS\n  const approvals = [];\n  const pattern = /(?:Approved by|authorized by|sign-off:?)\\s+([^(]+?)\\s*\\(([^)]+)\\)/gi;\n  let match;\n  while ((match = pattern.exec(body)) !== null) {\n    const name = match[1].trim();\n    const role = match[2].trim();\n    if (!approvals.find(a => a.name === name)) {\n      approvals.push({ name, role, status: 'Approved' });\n    }\n  }\n\n  results.push({\n    json: {\n      _source: source,\n      company,\n      type,\n      amount_requested: amount,\n      amount_on_bank_slip: amount,\n      currency: 'MMK',\n      approvals,\n      required_approvals: ['Sales HOD', 'Finance Manager'],\n      body_preview: body.substring(0, 200),\n      from_email: from,\n      original_subject: subject,\n      parsed_at: new Date().toISOString(),\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "code-parse-email",
      "name": "Parse Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "jsCode": "// Check authority matrix + generate the dashboard URL\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  // AUTHORITY MATRIX CHECK\n  const required = data.required_approvals || ['Sales HOD', 'Finance Manager'];\n  const matrixResults = required.map(req => {\n    const found = (data.approvals || []).find(a =>\n      a.role.toLowerCase().includes(req.toLowerCase())\n    );\n    return {\n      requiredRole: req,\n      found: !!found,\n      foundName: found ? found.name : 'MISSING',\n    };\n  });\n  const matrixComplete = matrixResults.every(m => m.found);\n\n  // SCENARIO DETECTION\n  let scenario = 'NORMAL';\n  if (data.amount_requested !== data.amount_on_bank_slip) {\n    scenario = 'AMOUNT_MISMATCH';\n  } else if (!matrixComplete) {\n    scenario = 'MISSING_APPROVAL';\n  }\n\n  // BUILD TICKET PAYLOAD\n  const ticket = {\n    company: data.company,\n    type: data.type,\n    amount_requested: data.amount_requested,\n    amount_on_bank_slip: data.amount_on_bank_slip,\n    currency: data.currency,\n    approvals: data.approvals,\n    required_approvals: data.required_approvals,\n    body_preview: data.body_preview,\n    parsed_at: data.parsed_at,\n    scenario,\n    approval_matrix_complete: matrixComplete,\n  };\n\n  // GENERATE DASHBOARD URL\n  const encoded = Buffer.from(JSON.stringify(ticket)).toString('base64');\n  const dashboardUrl = `https://wave-emi-dashboard.vercel.app/?n8n_ticket=${encoded}`;\n\n  results.push({\n    json: {\n      _source: data._source,\n      dashboard_url: dashboardUrl,\n      company: data.company,\n      amount: data.amount_requested,\n      type: data.type,\n      scenario,\n      matrix_complete: matrixComplete,\n      matrix_details: matrixResults,\n      from_email: data.from_email,\n      original_subject: data.original_subject,\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "code-validate-url",
      "name": "Validate & Generate URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1240, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "source-check",
              "leftValue": "={{ $json._source }}",
              "rightValue": "webhook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-by-source",
      "name": "Route by Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1480, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond with Dashboard URL",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1720, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.from_email || 'khanhnguyen@zeyalabs.ai' }}",
        "subject": "=EMI Pipeline: {{ $json.company }} — {{ $json.scenario }}",
        "bodyContent": "=<h2>EMI Disbursement Ticket Created</h2><p><strong>Company:</strong> {{ $json.company }}<br><strong>Amount:</strong> {{ $json.amount }} MMK<br><strong>Type:</strong> {{ $json.type }}<br><strong>Scenario:</strong> {{ $json.scenario }}<br><strong>Authority Matrix:</strong> {{ $json.matrix_complete ? 'Complete' : 'INCOMPLETE' }}</p><p><a href=\"{{ $json.dashboard_url }}\">Open Dashboard to Review</a></p><hr><p style=\"color:#666;font-size:12px\">Auto-generated by Wave EMI Pipeline (n8n)</p>",
        "options": {
          "importance": "normal"
        }
      },
      "id": "send-notification",
      "name": "Send Dashboard Notification",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [1720, 520],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_OUTLOOK_CREDENTIAL_ID",
          "name": "Microsoft Outlook (khanhnguyen@zeyalabs.ai)"
        }
      },
      "notes": "SETUP: Uses same Microsoft OAuth2 credential as Outlook Trigger. Sends dashboard link to the original email sender (or fallback to khanhnguyen@zeyalabs.ai)."
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outlook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Keyword Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Filter": {
      "main": [
        [
          {
            "node": "Parse Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Parse Email": {
      "main": [
        [
          {
            "node": "Validate & Generate URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Generate URL": {
      "main": [
        [
          {
            "node": "Route by Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Source": {
      "main": [
        [
          {
            "node": "Respond with Dashboard URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Dashboard Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
