pipelines/n8n-workflow-v12.json
{
  "name": "EMI Email Intake Pipeline v12.4 (CSV/XLSX Support)",
  "nodes": [
    {
      "parameters": {
        "content": "## EMI Pipeline — Two Intake Paths\n\n**INTAKE: Outlook Mailbox (production)**\nPolls `emoney@zeyalabs.ai` for new client emails. This is the real production trigger.\n\n**INTAKE: Manual Test (POST JSON)**\nAccepts POST to `/emi-intake` with a JSON email payload. Used for:\n- Testing without sending real emails\n- Replaying problematic emails for debugging\n- Integration tests / CI\n- Manual ticket injection if email pipeline breaks\n\n**Both paths feed into:**\nPrepare for AI → Groq Text Extract → Vision Process (dual Groq/Gemini) → Employee List Extract → AI Parse & Validate → POST to Vercel webhook (`/api/webhook.js`) → Send Outlook Notification\n\n**Note: The 'webhook' node here (intake) is DIFFERENT from the Vercel webhook (persistence).**\n- Intake webhook = entry INTO n8n\n- Vercel webhook = exit OUT of n8n (persists to Supabase)",
        "height": 420,
        "width": 480
      },
      "id": "sticky-note-architecture",
      "name": "Pipeline Architecture Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -150,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emi-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "INTAKE: Manual Test (POST JSON)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "emi-intake"
    },
    {
      "parameters": {
        "simple": false,
        "output": "raw",
        "filters": {},
        "options": {
          "downloadAttachments": true
        }
      },
      "id": "outlook-trigger",
      "name": "INTAKE: Outlook Mailbox (production)",
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        250,
        520
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_WITH_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook (emoney@zeyalabs.ai)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare raw email data for AI extraction (v11.1)\n// v11.1: skip-flag pattern replaces `return []` to avoid n8n 2.14 Task Runner\n//        \"json property isn't an object\" errors that were aborting batches and\n//        dropping legitimate emails sharing the Outlook polling cycle.\n// v11.1: email body preserves line breaks for dashboard display (two versions —\n//        bodyForDisplay keeps \\n, bodyForAI collapses whitespace for Groq).\n// v11: KAN-36 extraction fields (initiator_name, purpose, cost_center)\n// v10.1: KAN-35 payment_date + payroll_period\n// v10: KAN-30 payment_type classification + attachment fix + verification checklist\n// v5.1: full email body passthrough, circuit breaker fix\n// v3: binary attachment extraction + rate limiting\n// MODE: Run Once for Each Item (n8n 2.x Task Runner compatible)\n\nconst item = $input.item;\n\n// v11.1 SKIP PATTERN: always return a valid json object. Skip Filter IF node\n// downstream routes _skip:true items to a dead-end. No more `return []` errors.\nconst skip = (reason) => ({ json: { _skip: true, _skip_reason: reason } });\n\n// Error guard — skip binary-only items and malformed emails\nif (!item.json || typeof item.json !== 'object' || Array.isArray(item.json)) {\n  return skip('malformed_item');\n}\nconst d = item.json;\n\n// Skip items that are just binary attachments (no email metadata)\nif (!d.subject && !d.bodyPreview && !d.snippet && !d.Subject && !d.From && !(d.body && d.body.content) && !(d.payload && d.payload.headers) && !d.from) {\n  return skip('no_email_metadata');\n}\n\n// Rate limit: text calls (persists across production executions)\nconst staticData = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().slice(0, 10);\nif (staticData.date !== today) {\n  staticData.date = today;\n  staticData.textCalls = 0;\n  staticData.visionCalls = 0;\n  staticData.visionErrors = 0;\n}\nif (staticData.textCalls >= 100) {\n  return skip('daily_text_cap_reached');\n}\nstaticData.textCalls++;\n\n// Helper: resolve a value that might be string, object, or array to a readable string\nfunction resolveValue(val) {\n  if (typeof val === 'string') return val;\n  if (val && typeof val === 'object') {\n    if (val.text && typeof val.text === 'string') return val.text;\n    if (Array.isArray(val.value) && val.value[0]) {\n      const parts = val.value.map(v => v.address ? (v.name ? v.name + ' <' + v.address + '>' : v.address) : '');\n      return parts.filter(Boolean).join(', ');\n    }\n    if (val.address) return val.name ? val.name + ' <' + val.address + '>' : val.address;\n    if (Array.isArray(val)) {\n      return val.map(v => resolveValue(v)).filter(Boolean).join(', ');\n    }\n    try { const j = JSON.stringify(val); if (j !== '{}') return j; } catch(e) {}\n  }\n  return '';\n}\n\n// Helper: extract any email header by name (works across all Gmail data formats)\nfunction getHeader(name) {\n  if (d.payload && d.payload.headers && Array.isArray(d.payload.headers)) {\n    const h = d.payload.headers.find(h => h.name && h.name.toLowerCase() === name.toLowerCase());\n    if (h && h.value) return h.value;\n  }\n  const capKey = name.charAt(0).toUpperCase() + name.slice(1);\n  if (d[capKey]) return resolveValue(d[capKey]);\n  if (d[name.toLowerCase()]) return resolveValue(d[name.toLowerCase()]);\n  if (d.headers && typeof d.headers === 'object' && !Array.isArray(d.headers)) {\n    const val = d.headers[name] || d.headers[name.toLowerCase()];\n    if (val) return resolveValue(val);\n  }\n  return '';\n}\n\nconst isEmail = d.snippet !== undefined || d.threadId !== undefined || d.Subject !== undefined || d.From !== undefined || (d.payload && d.payload.headers) || d.bodyPreview !== undefined || (d.from && d.from.emailAddress);\nconst source = isEmail ? 'email' : 'webhook';\n\nconst subject = isEmail\n  ? (d.subject || getHeader('Subject') || '')\n  : (d.body?.subject || d.subject || '');\n\n// LOOP GUARD: skip our own outbound emails (notifications + returns) that land in emoney@zeyalabs.ai via CC\n// v10.1+ fix: sender-based check catches return emails + future outbound types.\n// Subject checks kept as belt-and-suspenders defense.\nconst senderEmailAddr = (d.from && d.from.emailAddress ? d.from.emailAddress.address : '').toLowerCase();\nif (isEmail && (senderEmailAddr === 'emoney@zeyalabs.ai' || subject.includes('EMI Pipeline:') || subject.includes('EMI Pipeline \\u2014'))) {\n  return skip('loop_guard_self_send');\n}\n\n// v6: Skip internal Yoma/Wave emails that aren't disbursement requests\nconst internalDomains = ['yoma.com.mm', 'wavemoney.com.mm'];\nconst senderDomain = (d.from && d.from.emailAddress ? d.from.emailAddress.address : '').split('@')[1] || '';\nif (isEmail && internalDomains.includes(senderDomain) && !subject.toLowerCase().includes('disbursement') && !subject.toLowerCase().includes('payroll') && !subject.toLowerCase().includes('salary')) {\n  return skip('internal_domain_non_disbursement');\n}\n\nlet body = '';\nif (isEmail) {\n  body = d.textPlain || d.text || (d.body && d.body.content ? d.body.content : '') || d.bodyPreview || d.snippet || d.textHtml || '';\n  if ((!body || body.length < 50) && d.payload && d.payload.parts) {\n    for (const part of d.payload.parts) {\n      if (part.mimeType === 'text/plain' && part.body && part.body.data) {\n        try { body = Buffer.from(part.body.data, 'base64').toString('utf-8'); } catch(e) {}\n        break;\n      }\n    }\n  }\n  if ((!body || body.length < 50) && d.payload && d.payload.body && d.payload.body.data) {\n    try { body = Buffer.from(d.payload.body.data, 'base64').toString('utf-8'); } catch(e) {}\n  }\n  // v11.1 + v11.2 + v11.3 + v11.4 SCOPE FIX: Build TWO body versions\n  //   1) bodyForDisplay — preserve line breaks (for dashboard \"Show full email\")\n  //   2) body (collapsed) — fed to Groq prompt (existing behavior)\n  //\n  // v11.4 SCOPE FIX: declare bodyForDisplay at function scope (var inside if)\n  // instead of let (block-scoped). Previously v11.3 heuristic was mutating a\n  // block-scoped variable that evaporated at block exit — the return statement\n  // read `typeof bodyForDisplay === 'string'` from function scope (undefined)\n  // and fell back to the collapsed `body` version. Empirical proof: SQL on\n  // TKT-038 showed has_newlines=false despite the heuristic code path running.\n  //\n  // v11.3 addition: After HTML stripping, if the result STILL has no newlines\n  // AND is longer than 200 chars, inject heuristic newlines before common email\n  // structure markers (Field:, bullets, signatures). This catches Outlook Web's\n  // case of wrapping all content in inline tags only.\n  var bodyForDisplay = body\n    // Strip HTML conditional comments (<!--[if gte mso 9]>...<![endif]-->)\n    .replace(/<!--\\[if[\\s\\S]*?<!\\[endif\\]-->/g, ' ')\n    .replace(/<!--[\\s\\S]*?-->/g, ' ')\n    // Strip <head>/<style>/<script> blocks entirely\n    .replace(/<(head|style|script)\\b[^>]*>[\\s\\S]*?<\\/\\1>/gi, ' ')\n    // Convert HTML entities representing newlines BEFORE tag stripping\n    .replace(/&#13;&#10;/g, '\\n')\n    .replace(/&#10;/g, '\\n')\n    .replace(/&#13;/g, '\\n')\n    .replace(/&#xD;/gi, '\\n')\n    .replace(/&#xA;/gi, '\\n')\n    // Convert block-breaking tags to newline (v11.3: added span as Outlook often wraps paragraphs in spans with no block tags)\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/(p|div|li|tr|h[1-6]|blockquote|section|article|address)>/gi, '\\n')\n    .replace(/<\\/(ul|ol|table)>/gi, '\\n\\n')\n    // Microsoft Office placeholder tag — treat as noise\n    .replace(/<o:p>\\s*<\\/o:p>/gi, ' ')\n    .replace(/<\\/o:p>/gi, '\\n')\n    // Strip all remaining HTML tags → space\n    .replace(/<[^>]*>/g, ' ')\n    // Decode common HTML entities AFTER tag stripping\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/g, \"'\")\n    // Collapse spaces/tabs only (preserve newlines)\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n  // v11.3 HEURISTIC FALLBACK: if HTML stripping yielded no newlines but body is long,\n  // inject newlines before common disbursement-email structure markers. This is a\n  // pragmatic fix for Outlook Web's all-inline HTML format that our regex can't\n  // structurally detect. Not perfect, but produces readable output for the typical\n  // email shapes clients send.\n  if (bodyForDisplay.length > 200 && bodyForDisplay.indexOf('\\n') === -1) {\n    bodyForDisplay = bodyForDisplay\n      // Before common field labels: put on their own line\n      .replace(/\\s+(Initiator|Purpose|Payment Date|Payroll Period|Cost Center|Total Amount|Payment Type|Approvals?|Approved by|Requested by|Regards|Best regards|Sincerely|Thanks|Thank you)\\s*[:,]/gi, '\\n$1:')\n      // Bullet items (- Name, Role)\n      .replace(/\\s+-\\s+([A-Z])/g, '\\n- $1')\n      // Sentence boundaries (.  Capital letter) — keep conservative, only after 3+ word sentence\n      .replace(/([a-z]{3,}\\.)\\s+([A-Z])/g, '$1\\n$2')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n  }\n  // Strip Outlook external-email warnings from BOTH versions\n  const stripWarnings = (s) => s\n    .replace(/You don't often get email from[^.]*\\./g, '')\n    .replace(/Learn why this is important/g, '')\n    .replace(/EXTERNAL EMAIL:[^.]*\\./g, '')\n    .replace(/This email originated from outside of the organization[^.]*\\./g, '')\n    .trim();\n  bodyForDisplay = stripWarnings(bodyForDisplay);\n  // AI version: fully collapsed (same semantics as pre-v11.1)\n  body = bodyForDisplay.replace(/\\s+/g, ' ').trim();\n} else {\n  const raw = d.body?.body || d.bodyPreview || d.body || '';\n  body = typeof raw === 'string' ? raw : '';\n  var bodyForDisplay = body;\n}\n\nlet from = '';\nif (isEmail) {\n  // Outlook format: from.emailAddress.address\n  if (d.from && d.from.emailAddress && d.from.emailAddress.address) {\n    from = d.from.emailAddress.address;\n  } else {\n    let rawFrom = getHeader('From');\n    if (!rawFrom) {\n      for (const [key, val] of Object.entries(d)) {\n        if (key.toLowerCase().includes('from') && typeof val === 'string' && val.includes('@')) {\n          rawFrom = val; break;\n        }\n      }\n    }\n    if (typeof rawFrom === 'string' && rawFrom) {\n      const m = rawFrom.match(/<([^>]+)>/);\n      from = m ? m[1] : rawFrom.trim();\n    }\n  }\n} else {\n  from = d.body?.from || d.from || '';\n}\n\n// Outlook: toRecipients[].emailAddress.address, ccRecipients, receivedDateTime, conversationId\n\n// KAN-28 #2: reject emails with empty/minimal body (Vinh spec)\n// Placed AFTER from extraction (from is let-declared, can't access before init)\nif (isEmail && (!body || body.trim().length < 30)) {\n  return { json: { _skip: true, _skip_reason: 'empty_body', from_email: from, original_subject: subject } };\n}\n\nconst to_email = isEmail ? (d.toRecipients ? d.toRecipients.map(r => r.emailAddress ? r.emailAddress.address : '').join(', ') : getHeader('To')) : '';\nconst cc_emails = isEmail ? (d.ccRecipients ? d.ccRecipients.map(r => r.emailAddress ? r.emailAddress.address : '').join(', ') : getHeader('Cc')) : '';\nconst reply_to = isEmail ? (d.replyTo ? (Array.isArray(d.replyTo) ? d.replyTo.map(r => r.emailAddress ? r.emailAddress.address : '').join(', ') : '') : getHeader('Reply-To')) : '';\nconst email_date = isEmail ? (d.receivedDateTime || getHeader('Date')) : '';\nconst message_id = d.id || (isEmail ? getHeader('Message-ID') : '') || '';\nconst thread_id = d.conversationId || d.threadId || '';\n\nlet has_attachments = d.hasAttachments || false;\nconst attachment_names = [];\nfunction scanParts(parts) {\n  if (!Array.isArray(parts)) return;\n  for (const part of parts) {\n    if (part.filename && part.filename.length > 0) {\n      has_attachments = true;\n      attachment_names.push(part.filename);\n    }\n    if (part.parts) scanParts(part.parts);\n  }\n}\nif (d.payload && d.payload.parts) scanParts(d.payload.parts);\n// Outlook attachments: already handled via downloadAttachments option in trigger node\n\n// === v3 NEW: Binary attachment extraction (n8n Cloud Task Runner compatible) ===\nconst attachment_base64_list = [];\nconst MAX_ATTACHMENTS = 2;\nconst MAX_SIZE = 4 * 1024 * 1024; // 4MB Groq hard limit\n\nif (item.binary) {\n  const keys = Object.keys(item.binary).filter(k => k.startsWith('attachment_'));\n  for (let j = 0; j < Math.min(keys.length, MAX_ATTACHMENTS); j++) {\n    const meta = item.binary[keys[j]];\n    const mime = meta.mimeType || '';\n    // v9: Populate attachment_names for Outlook (was Gmail-only via scanParts)\n    if (meta.fileName && !attachment_names.includes(meta.fileName)) {\n      attachment_names.push(meta.fileName);\n      has_attachments = true;\n    }\n    // v12.3.2: extract ALL binary types for file detection (v12.3).\n        // Previously only image/* and application/pdf were extracted,\n        // so ZIP/RAR/XLSX/OLE2 bypassed detection entirely.\n        if (mime) {\n      try {\n        // Task Runner: use helpers.getBinaryDataBuffer (no this.)\n        const buffer = await helpers.getBinaryDataBuffer($itemIndex, keys[j]);\n        if (buffer.length <= MAX_SIZE) {\n          attachment_base64_list.push({\n            filename: meta.fileName || keys[j],\n            mimeType: mime,\n            base64: buffer.toString('base64'),\n            sizeBytes: buffer.length\n          });\n        }\n      } catch (e) { /* Binary extraction failed — continue without */ }\n    }\n  }\n}\n\n// v10/KAN-30 #2: sync has_attachments with real count (Outlook hasAttachments flag can lie when binaries not downloaded)\nhas_attachments = attachment_names.length > 0;\n\n// ═══ v12.3 / KAN-28 #1: Attachment file type validation ═══\n// Detects and rejects: password-protected files, ZIP/RAR/7z archives.\n// Accepts: normal PDF, images, unprotected XLSX/XLS/CSV.\n// Uses only Buffer ops (no npm packages — n8n Cloud Task Runner compatible).\nif (attachment_base64_list.length > 0) {\n  const att = attachment_base64_list[0];\n  const buf = Buffer.from(att.base64, 'base64');\n\n  // Helper: check magic bytes at offset\n  const hasMagic = (sig, off) => {\n    if (buf.length < off + sig.length) return false;\n    for (let i = 0; i < sig.length; i++) { if (buf[off + i] !== sig[i]) return false; }\n    return true;\n  };\n\n  // Helper: scan buffer for a string (UTF-8), capped at 64KB\n  const findStr = (str, maxScan) => {\n    const target = Buffer.from(str, 'utf8');\n    const limit = Math.min(buf.length, maxScan || 65536);\n    return buf.indexOf(target, 0) !== -1 && buf.indexOf(target, 0) < limit;\n  };\n\n  // Helper: scan buffer for UTF-16LE string (OLE2 stream names)\n  const findUtf16 = (str, maxScan) => {\n    const target = Buffer.from(str, 'utf16le');\n    const limit = Math.min(buf.length, maxScan || 65536);\n    const pos = buf.indexOf(target, 0);\n    return pos !== -1 && pos < limit;\n  };\n\n  let rejectReason = null;\n\n  // 1. RAR / 7z — reject immediately (unambiguous magic, zero false positives)\n  if (hasMagic([0x52,0x61,0x72,0x21,0x1A,0x07], 0)) {\n    rejectReason = 'rar_archive';\n  } else if (hasMagic([0x37,0x7A,0xBC,0xAF,0x27,0x1C], 0)) {\n    rejectReason = '7z_archive';\n  }\n\n  // 2. OLE2 Compound Document (D0 CF 11 E0) — encrypted XLSX lives here\n  else if (hasMagic([0xD0,0xCF,0x11,0xE0,0xA1,0xB1,0x1A,0xE1], 0)) {\n    if (findUtf16('EncryptedPackage') || findUtf16('EncryptionInfo')) {\n      rejectReason = 'password_protected_file';\n    } else if (!findUtf16('Workbook') && !findUtf16('Book')) {\n      // Not a legacy XLS workbook either — unsupported OLE2 (.doc, .msg, .ppt)\n      rejectReason = 'unsupported_file_format';\n    }\n    // else: legacy unprotected XLS — accept for future parsing\n  }\n\n  // 3. ZIP-based files (PK signature) — distinguish XLSX from generic ZIP\n  else if (hasMagic([0x50,0x4B,0x03,0x04], 0) || hasMagic([0x50,0x4B,0x05,0x06], 0)) {\n    // Check ZIP-level encryption flag (bit 0 at offset 6)\n    const zipEncrypted = buf.length >= 8 && (buf.readUInt16LE(6) & 0x0001) !== 0;\n    if (zipEncrypted) {\n      rejectReason = 'password_protected_file';\n    } else {\n      // Check for OOXML markers (XLSX = [Content_Types].xml + xl/)\n      const isOOXML = findStr('[Content_Types].xml') && findStr('xl/');\n      if (!isOOXML) {\n        rejectReason = 'zip_archive';\n      }\n      // else: normal unprotected XLSX — accept\n    }\n  }\n\n  // 4. PDF encryption check\n  else if (hasMagic([0x25,0x50,0x44,0x46,0x2D], 0)) {\n    // Scan for /Encrypt with next-byte validation (whitespace or digit)\n    const needle = Buffer.from('/Encrypt');\n    let pos = buf.indexOf(needle, 0);\n    while (pos !== -1 && pos < Math.min(buf.length, 65536)) {\n      const next = buf[pos + 8];\n      if (next === 0x20 || next === 0x09 || next === 0x0A || next === 0x0D || (next >= 0x30 && next <= 0x39)) {\n        rejectReason = 'password_protected_file';\n        break;\n      }\n      pos = buf.indexOf(needle, pos + 8);\n    }\n  }\n\n  if (rejectReason) {\n    return { json: { _skip: true, _skip_reason: rejectReason, from_email: from, original_subject: subject } };\n  }\n}\n\n\n// ═══ v12.4: CSV/XLSX spreadsheet parsing ═══\n// Detects CSV/XLSX attachments, extracts content as text for Gemini.\n// Demo approach: Gemini reads the full spreadsheet text alongside email body.\nlet isSpreadsheet = false;\nlet spreadsheetText = '';\nlet spreadsheetRows = [];\n\nif (attachment_base64_list.length > 0) {\n  const att = attachment_base64_list[0];\n  const attBuf = Buffer.from(att.base64, 'base64');\n  const mime = att.mimeType || '';\n  const fname = (att.filename || '').toLowerCase();\n\n  // Detect XLSX (ZIP with OOXML markers — already passed file detection v12.3)\n  const isXlsx = (mime.includes('spreadsheet') || mime.includes('excel') ||\n    fname.endsWith('.xlsx') || fname.endsWith('.xls')) &&\n    attBuf[0] === 0x50 && attBuf[1] === 0x4B;\n\n  // Detect CSV/TSV\n  const isCsv = mime.includes('csv') || mime.includes('tab-separated') ||\n    mime === 'text/plain' || fname.endsWith('.csv') || fname.endsWith('.tsv');\n\n  if (isXlsx) {\n    // === XLSX: extract XML from ZIP, parse to 2D array ===\n    try {\n      const zlib = require('zlib');\n      // ZIP local file header parser\n      function extractFromZip(zipBuf, target) {\n        let pos = 0;\n        while (pos < zipBuf.length - 4) {\n          if (zipBuf[pos]===0x50 && zipBuf[pos+1]===0x4B && zipBuf[pos+2]===0x03 && zipBuf[pos+3]===0x04) {\n            const fnLen = zipBuf.readUInt16LE(pos+26);\n            const exLen = zipBuf.readUInt16LE(pos+28);\n            const cSize = zipBuf.readUInt32LE(pos+18);\n            const cMethod = zipBuf.readUInt16LE(pos+8);\n            const fn = zipBuf.toString('utf8', pos+30, pos+30+fnLen);\n            if (fn.includes(target)) {\n              const raw = zipBuf.subarray(pos+30+fnLen+exLen, pos+30+fnLen+exLen+cSize);\n              if (cMethod === 0) return raw.toString('utf8');\n              if (cMethod === 8) return zlib.inflateRawSync(raw).toString('utf8');\n            }\n            pos += 30 + fnLen + exLen + cSize;\n          } else pos++;\n        }\n        return null;\n      }\n      // Parse shared strings\n      const ssXml = extractFromZip(attBuf, 'sharedStrings.xml') || '';\n      const sharedStrings = [];\n      const siRe = /<si[^>]*>([\\s\\S]*?)<\\/si>/g;\n      const tRe = /<t[^>]*>([\\s\\S]*?)<\\/t>/g;\n      let siM;\n      while ((siM = siRe.exec(ssXml)) !== null) {\n        let combined = '';\n        let tM;\n        while ((tM = tRe.exec(siM[1])) !== null) combined += tM[1];\n        sharedStrings.push(combined.replace(/&amp;/g,'&').replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&quot;/g,'\"'));\n        tRe.lastIndex = 0;\n      }\n      // Parse sheet1\n      const sheetXml = extractFromZip(attBuf, 'sheet1.xml') || '';\n      const rows = {};\n      let maxCol = 0;\n      const colToNum = (s) => { let n=0; for(const c of s) n=n*26+(c.charCodeAt(0)-64); return n-1; };\n      const rowRe = /<row[^>]*\\br=\"(\\d+)\"[^>]*>([\\s\\S]*?)<\\/row>/g;\n      const cellRe = /<c[^>]*\\br=\"([A-Z]+)(\\d+)\"(?:[^>]*\\bt=\"([^\"]*)\")?[^>]*>([\\s\\S]*?)<\\/c>/g;\n      let rM;\n      while ((rM = rowRe.exec(sheetXml)) !== null) {\n        const rowNum = +rM[1] - 1;\n        const cells = {};\n        let cM;\n        while ((cM = cellRe.exec(rM[2])) !== null) {\n          const colIdx = colToNum(cM[1]);\n          const type = cM[3] || 'n';\n          const body = cM[4];\n          let val = '';\n          if (type === 's') {\n            const vM = body.match(/<v>([\\s\\S]*?)<\\/v>/);\n            val = vM ? (sharedStrings[parseInt(vM[1])] || '') : '';\n          } else if (type === 'inlineStr') {\n            const tM2 = body.match(/<t[^>]*>([\\s\\S]*?)<\\/t>/);\n            val = tM2 ? tM2[1] : '';\n          } else {\n            const vM = body.match(/<v>([\\s\\S]*?)<\\/v>/);\n            val = vM ? vM[1] : '';\n          }\n          cells[colIdx] = val;\n          if (colIdx > maxCol) maxCol = colIdx;\n        }\n        cellRe.lastIndex = 0;\n        rows[rowNum] = cells;\n      }\n      // Build 2D array\n      const rowNums = Object.keys(rows).map(Number).sort((a,b)=>a-b);\n      spreadsheetRows = rowNums.map(r => {\n        const arr = [];\n        for (let c = 0; c <= maxCol; c++) arr.push(rows[r][c] || '');\n        return arr;\n      });\n      // Convert to text (pipe-delimited, max 50 rows)\n      const textRows = spreadsheetRows.slice(0, 50).map((r, i) =>\n        'R' + (rowNums[i]+1) + ': ' + r.join(' | ')\n      );\n      spreadsheetText = textRows.join('\\n');\n      isSpreadsheet = true;\n    } catch(e) {\n      // XLSX parsing failed — will proceed without spreadsheet data\n      spreadsheetText = '';\n      isSpreadsheet = false;\n    }\n  } else if (isCsv) {\n    // === CSV: detect encoding + delimiter, parse to 2D array ===\n    try {\n      let csvStr = '';\n      // Encoding detection\n      if (attBuf[0]===0xEF && attBuf[1]===0xBB && attBuf[2]===0xBF) {\n        csvStr = attBuf.toString('utf8', 3); // UTF-8 BOM\n      } else if (attBuf[0]===0xFF && attBuf[1]===0xFE) {\n        csvStr = attBuf.toString('utf16le', 2); // UTF-16 LE\n      } else if (attBuf[0]===0xFE && attBuf[1]===0xFF) {\n        csvStr = attBuf.toString('utf16le', 2); // UTF-16 BE (approximate)\n      } else {\n        csvStr = attBuf.toString('utf8');\n      }\n      // Normalize line endings\n      csvStr = csvStr.replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n      // Delimiter detection (check first non-empty line)\n      const firstLine = csvStr.split('\\n').find(l => l.trim().length > 0) || '';\n      const delimiters = [',', '\\t', ';', '|'];\n      let bestDel = ',';\n      let bestCount = 0;\n      for (const d of delimiters) {\n        const count = (firstLine.match(new RegExp(d === '|' ? '\\\\|' : d, 'g')) || []).length;\n        if (count > bestCount) { bestCount = count; bestDel = d; }\n      }\n      // Parse rows (simple split — handles most cases)\n      const lines = csvStr.split('\\n').filter(l => l.trim().length > 0);\n      spreadsheetRows = lines.map(line => line.split(bestDel).map(c => c.trim().replace(/^\"|\"$/g, '')));\n      // Convert to text (max 50 rows)\n      spreadsheetText = spreadsheetRows.slice(0, 50).map((r, i) =>\n        'R' + (i+1) + ': ' + r.join(' | ')\n      ).join('\\n');\n      isSpreadsheet = true;\n    } catch(e) {\n      spreadsheetText = '';\n      isSpreadsheet = false;\n    }\n  }\n}\n\n\nconst prompt = `You are an email parser for Wave Money's EMI (Electronic Money Issuer) salary disbursement pipeline in Myanmar.\n\nAnalyze this email and extract structured data.\n\nEMAIL SUBJECT: ${subject}\nEMAIL BODY: ${body}\nFROM: ${from}\n\nReturn a JSON object with these exact fields:\n{\n  \"is_disbursement\": true or false (is this a salary/EMI/disbursement/OTC request?),\n  \"company\": \"company name requesting disbursement\",\n  \"amount\": number (total amount in MMK, 0 if not found),\n  \"type\": \"SalaryToOTC\" if OTC or over-the-counter is mentioned, otherwise \"SalaryToMA\",\n  \"approvers\": [{\"name\": \"person name\", \"role\": \"their title/role\", \"status\": \"Approved\"}],\n  \"body_preview\": \"first 200 characters of the email body\",\n  \"payment_date\": \"the date the client wants the salary to be disbursed (their intended pay day), format YYYY-MM-DD or as written; empty string if not mentioned\",\n  \"payroll_period\": \"the time period the salary covers (e.g., 'March 2026' or 'Apr 1-15, 2026'); empty string if not mentioned. NOTE: payment_date is WHEN money moves, payroll_period is WHAT WORK PERIOD the money covers — these are different\",\n  \"initiator_name\": \"the person or role WITHIN THE CLIENT COMPANY who is initiating this disbursement request (e.g., 'HR Manager', 'Thida Hlaing, Payroll Specialist', 'Finance Director'). This is typically the sender or a person named at the top/bottom of the email as 'Requested by' or 'From'. DIFFERENT from approvers. Empty string if not stated explicitly — do NOT infer from email domain.\",\n  \"purpose\": \"why this disbursement is being made (e.g., 'March 2026 Salary', 'Q1 2026 Bonus', 'Contractor Payments for Project X'). Empty string if not mentioned.\",\n  \"cost_center\": \"accounting cost center or department code if mentioned (e.g., 'HR-OPS-001', 'FIN-2026-Q1', 'DEPT-SALES'). Empty string if not mentioned.\"\n}\n\nIMPORTANT: Return ONLY the JSON object, no explanation or markdown.`;\n\nreturn {\n  json: {\n    _source: source,\n    from_email: from,\n    original_subject: subject,\n    prompt: prompt,\n    to_email: to_email,\n    cc_emails: cc_emails,\n    reply_to: reply_to,\n    email_date: email_date,\n    message_id: message_id,\n    thread_id: thread_id,\n    has_attachments: has_attachments,\n    attachment_names: attachment_names,\n    attachment_count: attachment_names.length,\n    // v11.1: pass full email body to dashboard with line breaks preserved\n    // (capped at 2000 chars; dashboard renders with white-space:pre-line CSS)\n    email_body_full: (typeof bodyForDisplay === 'string' ? bodyForDisplay : body).substring(0, 2000),\n    // v3: binary attachment data for vision processing\n    attachment_base64: attachment_base64_list[0] || null,\n    is_spreadsheet: isSpreadsheet,\n    spreadsheet_text: spreadsheetText,\n    spreadsheet_rows: isSpreadsheet ? spreadsheetRows : null,\n    spreadsheet_row_count: isSpreadsheet ? spreadsheetRows.length : 0,\n    // v12.3.2: vision_eligible only for image/pdf — XLSX/ZIP/etc should NOT\n    // be sent to Gemini as inlineData (Gemini can't read spreadsheet binary).\n    vision_eligible: attachment_base64_list.length > 0 && (attachment_base64_list[0].mimeType.startsWith('image/') || attachment_base64_list[0].mimeType === 'application/pdf'),\n  }\n};\n",
        "mode": "runOnceForEachItem"
      },
      "id": "prepare-for-ai-v3",
      "name": "Prepare for AI v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-flag-check",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "skip-filter",
      "name": "Skip Filter (v11.1)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Gemini 3 Flash Consolidated Extract (v12)\n// Replaces Groq AI Extract + Vision Process + Employee List Extract (3 nodes -> 1).\n// Single multimodal call with structured JSON schema for all KAN-36 fields.\n// Model: gemini-3-flash-preview (fallback: swap URL segment to gemini-2.5-flash)\n// MODE: Run Once for Each Item\n\nconst item = $input.item;\nif (!item.json || typeof item.json !== 'object') {\n  return { json: { _gemini_result: null, _gemini_status: 'skipped' } };\n}\nconst d = item.json;\nconst prepData = $('Prepare for AI v3').first().json;\n\nconst attachment = prepData.attachment_base64;\nconst visionEligible = prepData.vision_eligible;\n\nconst staticData = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().slice(0, 10);\nif (staticData.date !== today) {\n  staticData.date = today;\n  staticData.textCalls = 0;\n  staticData.geminiCalls = 0;\n  staticData.geminiErrors = 0;\n}\n\nconst rateLimitOK = (staticData.geminiCalls || 0) < 100;\nconst circuitBreakerOK = (staticData.geminiErrors || 0) < 5;\n\nif (!rateLimitOK) {\n  return { json: { ...d, _gemini_result: null, _gemini_status: 'rate_limited' } };\n}\nif (!circuitBreakerOK) {\n  return { json: { ...d, _gemini_result: null, _gemini_status: 'circuit_breaker' } };\n}\n\nconst prompt = `You are an email parser for Wave Money's EMI (Electronic Money Issuer) salary disbursement pipeline in Myanmar.\n\nAnalyze the email AND the attached document (if any). Extract all fields per the provided JSON schema.\n\nEMAIL SUBJECT: ${prepData.original_subject || ''}\nEMAIL BODY: ${(prepData.email_body_full || '').slice(0, 4000)}\nFROM: ${prepData.from_email || ''}\n\nCRITICAL RULES:\n- is_disbursement: true ONLY if this is a salary/EMI/disbursement/OTC payment request.\n- Email-side fields (company, initiator_name, purpose, cost_center, payment_date, payroll_period) reflect what the email TEXT says.\n- Document-side fields (doc_company_name, doc_initiator_name, doc_purpose, doc_cost_center, doc_payment_date) reflect what the ATTACHED DOCUMENT shows. They may differ from email-side.\n- payment_date = WHEN the money is meant to be disbursed (e.g. \"2026-04-20\"). Format as shown or YYYY-MM-DD.\n- payroll_period = WHAT WORK PERIOD the salary covers (e.g. \"March 2026\", \"Apr 1-15, 2026\").\n- These are DIFFERENT fields; if present, extract both.\n- corporate_wallet = the SOURCE/FUNDING wallet or account ID on the document header (labels like \"Corporate Wallet\", \"Funding Source Account\", \"Source Account\", \"Payment Source\"). Empty string if not visible.\n- currency: explicit code only (MMK/USD/EUR). Do NOT infer from amount format. Empty string if unclear.\n- employees[]: EVERY row in the document's employee/payroll table. Fields: name (full name as printed — required), account_or_phone (exact digits shown), amount (numeric, no commas).\n- employee_count: total rows extracted. Must equal employees.length.\n- total_amount_on_document: sum of amounts in the employee table, OR the document's own total if labelled.\n- type: \"SalaryToOTC\" if the request mentions OTC / over-the-counter; otherwise \"SalaryToMA\".\n- approvers[]: people who signed/approved, each with name + role + status (use \"Approved\").\n- initiator_name: WITHIN the client company, who initiated the request. Different from approvers. Empty if not explicit.\n- Handwritten content: extract what is legible; if a row is illegible do NOT invent values — omit it and lower vision_confidence.\n- Return empty string \"\" for missing text fields, 0 for missing numbers, [] for empty arrays.\n- document_type: one of \"bank_slip\", \"payment_instruction\", \"payroll_form\", \"unknown\".\n- vision_confidence: 0.0-1.0 of how clearly the attached document was read (0.0 if no attachment).\n- document_signers[]: names + roles of people who signed/authorized the attachment (signature block, \"Signed by\", \"Authorized by\" text visible on the document). Empty array if no signatures visible.\n- If NO attachment is provided, extract all fields from the email body ONLY. Set vision_confidence to 0, employees to empty array (unless employee data is listed in the email body text), and all doc_* fields to empty strings.`;\n\nconst responseSchema = {\n  type: \"object\",\n  properties: {\n    is_disbursement: { type: \"boolean\" },\n    company: { type: \"string\" },\n    amount: { type: \"number\" },\n    type: { type: \"string\", enum: [\"SalaryToOTC\", \"SalaryToMA\"] },\n    approvers: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: {\n          name: { type: \"string\" },\n          role: { type: \"string\" },\n          status: { type: \"string\" }\n        }\n      }\n    },\n    body_preview: { type: \"string\" },\n    payment_date: { type: \"string\" },\n    payroll_period: { type: \"string\" },\n    initiator_name: { type: \"string\" },\n    purpose: { type: \"string\" },\n    cost_center: { type: \"string\" },\n    corporate_wallet: { type: \"string\" },\n    currency: { type: \"string\" },\n    doc_company_name: { type: \"string\" },\n    doc_payment_date: { type: \"string\" },\n    doc_initiator_name: { type: \"string\" },\n    doc_purpose: { type: \"string\" },\n    doc_cost_center: { type: \"string\" },\n    employees: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: {\n          name: { type: \"string\" },\n          account_or_phone: { type: \"string\" },\n          amount: { type: \"number\" }\n        }\n      }\n    },\n    employee_count: { type: \"integer\" },\n    total_amount_on_document: { type: \"number\" },\n    document_type: { type: \"string\" },\n    vision_confidence: { type: \"number\" },\n    document_signers: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: { name: { type: \"string\" }, role: { type: \"string\" } }\n      }\n    }\n  },\n  required: [\"is_disbursement\", \"company\", \"amount\", \"type\"]\n};\n\nconst parts = [{ text: prompt }];\n\n// v12.4: If attachment is a spreadsheet (CSV/XLSX), include the parsed text\n// in the prompt instead of sending binary via inlineData. Gemini reads the\n// tabular data as text alongside the email body.\nif (prepData.is_spreadsheet && prepData.spreadsheet_text) {\n  const spreadsheetContext = '\\n\\nSPREADSHEET ATTACHMENT CONTENT (parsed from ' +\n    (prepData.attachment_base64 ? prepData.attachment_base64.filename : 'file') + '):\\n' +\n    prepData.spreadsheet_text +\n    '\\n\\nIMPORTANT: Extract employee data from the SPREADSHEET rows above. ' +\n    'Each data row (after the header row) is one employee. ' +\n    'Map columns to: name (employee name if present), account_or_phone (wallet ID, phone, or account number), amount (numeric). ' +\n    'Skip any TOTAL or summary rows. ' +\n    'If no employee name column exists (wallet-only format), set name to empty string. ' +\n    'Also extract metadata from the spreadsheet: corporate_wallet (From Wallet or source account), ' +\n    'currency, total_amount_on_document, doc_company_name, doc_payment_date, doc_initiator_name, doc_purpose, doc_cost_center.';\n  // Append spreadsheet context to the prompt text\n  parts[0] = { text: prompt + spreadsheetContext };\n}\nif (attachment && visionEligible) {\n  parts.push({ inlineData: { mimeType: attachment.mimeType, data: attachment.base64 } });\n}\n\nlet parsed = null;\nlet status = 'none';\nlet usage = null;\n\ntry {\n  staticData.geminiCalls = (staticData.geminiCalls || 0) + 1;\n  const resp = await helpers.httpRequest({\n    method: 'POST',\n    url: 'https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash-preview:generateContent?key=REPLACE_WITH_GEMINI_API_KEY',\n    headers: { 'content-type': 'application/json' },\n    body: {\n      contents: [{ parts }],\n      generationConfig: (function(){\n        // responseSchema works for vision (image/PDF) calls but gemini-3-flash-preview\n        // returns empty/unparseable JSON for text-only calls with schema enforcement.\n        // Fix: only enforce schema when attachment is present. For text-only, the prompt\n        // + responseMimeType: 'application/json' is sufficient for clean JSON output.\n        const cfg = { temperature: 0.1, maxOutputTokens: 8000, responseMimeType: 'application/json' };\n        if (attachment && visionEligible) cfg.responseSchema = responseSchema;\n        return cfg;\n      })()\n    },\n    json: true\n  });\n\n  if (resp && resp.candidates && resp.candidates[0] && resp.candidates[0].content) {\n    const content = resp.candidates[0].content.parts[0].text || '';\n    try {\n      parsed = JSON.parse(content);\n      status = attachment ? 'success_with_vision' : 'success_text_only';\n      staticData.geminiErrors = 0;\n    } catch(e) {\n      const cleaned = content.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n      const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n      if (jsonMatch) {\n        try { parsed = JSON.parse(jsonMatch[0]); status = attachment ? 'success_with_vision' : 'success_text_only'; staticData.geminiErrors = 0; }\n        catch(e2) { status = 'parse_error'; staticData.geminiErrors++; }\n      } else {\n        status = 'parse_error';\n        staticData.geminiErrors++;\n      }\n    }\n  } else {\n    status = 'empty_response';\n    staticData.geminiErrors++;\n  }\n  usage = resp ? (resp.usageMetadata || null) : null;\n} catch(e) {\n  status = 'api_error';\n  parsed = { error_message: e.message || String(e) };\n  staticData.geminiErrors++;\n}\n\nreturn {\n  json: {\n    ...d,\n    _gemini_result: parsed,\n    _gemini_status: status,\n    _gemini_usage: usage,\n    _gemini_has_attachment: !!attachment,\n    _extraction_method: prepData.is_spreadsheet ? \"spreadsheet\" : (attachment ? \"vision\" : \"text_only\")\n  }\n};\n",
        "mode": "runOnceForEachItem"
      },
      "id": "gemini3-extract",
      "name": "Gemini 3 Extract (Consolidated)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// AI Parse & Validate v4 (v12) — reads consolidated Gemini 3 output.\n// Replaces v3's triple-source merge (Groq text + Vision + Employee Extract).\n// All fields come from single _gemini_result.\n\nconst items = $input.all();\nconst results = [];\n\nconst prepData = $('Prepare for AI v3').first().json;\nconst source = prepData._source;\nconst from_email = prepData.from_email;\nconst original_subject = prepData.original_subject;\nconst to_email = prepData.to_email || '';\nconst cc_emails = prepData.cc_emails || '';\nconst reply_to = prepData.reply_to || '';\nconst email_date = prepData.email_date || '';\nconst message_id = prepData.message_id || '';\nconst thread_id = prepData.thread_id || '';\nconst has_attachments = prepData.has_attachments || false;\nconst attachment_names = prepData.attachment_names || [];\nconst attachment_count = prepData.attachment_count || 0;\n\nfor (const item of items) {\n  const d = item.json;\n  const parsed = d._gemini_result || {};\n  const geminiStatus = d._gemini_status || 'none';\n\n  if (!parsed.is_disbursement) {\n    // v12.2 diagnostic: instead of silent return [], output what Gemini returned\n    // so we can inspect _gemini_status and _gemini_result in n8n execution view.\n    return [{ json: {\n      _diagnostic: true,\n      _reason: 'not_disbursement_or_gemini_failed',\n      _gemini_status: geminiStatus,\n      _gemini_result_keys: parsed ? Object.keys(parsed) : [],\n      _gemini_is_disbursement: parsed.is_disbursement,\n      _gemini_company: parsed.company || null,\n      _raw_gemini: JSON.stringify(parsed).substring(0, 500)\n    }}];\n  }\n\n  const required = ['Sales HOD', 'Finance Manager'];\n  const matrixResults = required.map(req => {\n    const found = (parsed.approvers || []).find(a =>\n      a && a.role && a.role.toLowerCase().includes(req.toLowerCase())\n    );\n    return { requiredRole: req, found: !!found, foundName: found ? found.name : 'MISSING' };\n  });\n  const matrixComplete = matrixResults.every(m => m.found);\n\n  let scenario = 'NORMAL';\n  if (!matrixComplete) scenario = 'MISSING_APPROVAL';\n\n  const employees = Array.isArray(parsed.employees) ? parsed.employees : [];\n  const extractedEmployeeCount = parsed.employee_count || employees.length;\n  const docTotal = parsed.total_amount_on_document || 0;\n  const visionConfidence = parsed.vision_confidence || 0;\n  let emailAmount = parsed.amount || 0;\n\n  // v12.2: body-only fallback — when Gemini text-only maps the total to\n  // total_amount_on_document instead of amount (no responseSchema enforcement),\n  // use docTotal as the primary amount so the ticket isn't stuck at 0.\n  if (emailAmount === 0 && docTotal > 0) {\n    emailAmount = docTotal;\n  }\n\n  let amountMismatch = false;\n  if (docTotal > 0 && emailAmount > 0) {\n    const diff = Math.abs(docTotal - emailAmount);\n    amountMismatch = diff > (emailAmount * 0.01);\n  }\n  if (amountMismatch) scenario = 'AMOUNT_MISMATCH';\n\n  const empSum = employees.reduce((s, e) => s + (Number(e.amount) || 0), 0);\n  const empSumMismatch = emailAmount > 0 && empSum > 0\n    ? Math.abs(empSum - emailAmount) > (emailAmount * 0.01)\n    : false;\n\n  const ticket = {\n    company: parsed.company || 'Unknown Company',\n    type: parsed.type || 'SalaryToMA',\n    amount_requested: emailAmount,\n    amount_on_bank_slip: docTotal > 0 ? docTotal : emailAmount,\n    currency: parsed.currency || 'MMK',\n    approvals: parsed.approvers || [],\n    required_approvals: required,\n    body_preview: parsed.body_preview || '',\n    email_body_full: prepData.email_body_full || '',\n    initiator_name: parsed.initiator_name || '',\n    purpose: parsed.purpose || '',\n    cost_center: parsed.cost_center || '',\n    original_subject: original_subject,\n    parsed_at: new Date().toISOString(),\n    scenario,\n    approval_matrix_complete: matrixComplete,\n    ai_parsed: true,\n    from_email, to_email, cc_emails, reply_to,\n    email_date, message_id, thread_id,\n    has_attachments, attachment_names, attachment_count,\n    amount_on_document: docTotal,\n    amount_mismatch: amountMismatch,\n    document_type: parsed.document_type || '',\n    doc_company_name: parsed.doc_company_name || '',\n    doc_payment_date: parsed.doc_payment_date || '',\n    doc_initiator_name: parsed.doc_initiator_name || '',\n    doc_purpose: parsed.doc_purpose || '',\n    doc_cost_center: parsed.doc_cost_center || '',\n    corporate_wallet: parsed.corporate_wallet || '',\n    vision_parsed: visionConfidence > 0 || extractedEmployeeCount > 0,\n    vision_confidence: visionConfidence,\n    vision_status: geminiStatus,\n      extraction_method: d._extraction_method || \"vision\",\n    extracted_employees: employees,\n    extracted_employee_count: extractedEmployeeCount,\n    employee_extraction_confidence: visionConfidence,\n    employee_extraction_status: extractedEmployeeCount > 0 ? 'success' : geminiStatus,\n    employee_total_extracted: empSum,\n    employee_amount_mismatch: empSumMismatch,\n    payment_date: parsed.payment_date || '',\n    payroll_period: parsed.payroll_period || '',\n  };\n\n  const webhookPayload = {\n    ...ticket,\n    attachment_base64: prepData.attachment_base64 ? prepData.attachment_base64.base64 : null,\n    attachment_mime_type: prepData.attachment_base64 ? prepData.attachment_base64.mimeType : null,\n    attachment_filename: prepData.attachment_base64 ? prepData.attachment_base64.filename : null,\n  };\n\n  let ticketId = null;\n  let dashboardUrl = 'https://project-ii0tm.vercel.app';\n  try {\n    const webhookResp = await helpers.httpRequest({\n      method: 'POST',\n      url: 'https://project-ii0tm.vercel.app/api/webhook',\n      headers: {\n        'Content-Type': 'application/json',\n        'X-Webhook-Secret': 'REPLACE_WITH_WEBHOOK_SECRET'\n      },\n      body: webhookPayload,\n      json: true\n    });\n    if (webhookResp && webhookResp.ticket_id) {\n      ticketId = webhookResp.ticket_id;\n      dashboardUrl = webhookResp.dashboard_url || `https://project-ii0tm.vercel.app/?ticket=${ticketId}`;\n    }\n  } catch(e) { /* fallback */ }\n\n  results.push({\n    json: {\n      _source: source,\n      ticket_id: ticketId,\n      dashboard_url: dashboardUrl,\n      company: ticket.company,\n      amount: emailAmount,\n      type: ticket.type,\n      scenario,\n      matrix_complete: matrixComplete,\n      matrix_details: matrixResults,\n      from_email, original_subject,\n      to_email, cc_emails,\n      email_date,\n      has_attachments, attachment_count,\n      attachment_names,\n      vision_parsed: ticket.vision_parsed,\n      vision_confidence: ticket.vision_confidence,\n      vision_status: geminiStatus,\n      amount_on_document: docTotal,\n      document_type: ticket.document_type,\n      document_signers: Array.isArray(parsed.document_signers) ? parsed.document_signers : [],\n      extracted_employees: employees,\n      extracted_employee_count: extractedEmployeeCount,\n      employee_extraction_confidence: visionConfidence,\n      employee_extraction_status: ticket.employee_extraction_status,\n      employee_total_extracted: empSum,\n      employee_amount_mismatch: empSumMismatch,\n      depositor_name: '',\n      remark: '',\n      email_body_full: ticket.email_body_full,\n      transaction_id: '',\n      payment_type: extractedEmployeeCount > 0 ? 'salarytoMA' : 'salarytoOTC',\n      payment_date: ticket.payment_date,\n      payroll_period: ticket.payroll_period,\n      initiator_name: ticket.initiator_name,\n      purpose: ticket.purpose,\n      cost_center: ticket.cost_center,\n      doc_company_name: ticket.doc_company_name,\n      doc_payment_date: ticket.doc_payment_date,\n      doc_initiator_name: ticket.doc_initiator_name,\n      doc_purpose: ticket.doc_purpose,\n      doc_cost_center: ticket.doc_cost_center,\n      corporate_wallet: ticket.corporate_wallet,\n      currency: ticket.currency,\n      verification: {\n        company_name: !!(ticket.company && ticket.company !== 'Unknown Company'),\n        payment_type: true,\n        amount: emailAmount > 0,\n        payment_date: !!ticket.payment_date,\n        payroll_period: !!ticket.payroll_period,\n        approval: matrixComplete,\n        attachment: attachment_count > 0,\n        employee_list: extractedEmployeeCount > 0,\n        initiator_name: !!ticket.initiator_name,\n        purpose: !!ticket.purpose,\n        cost_center: !!ticket.cost_center\n      },\n      attachment_base64: prepData.attachment_base64 ? prepData.attachment_base64.base64 : null,\n      attachment_mime_type: prepData.attachment_base64 ? prepData.attachment_base64.mimeType : null,\n      attachment_filename: prepData.attachment_base64 ? prepData.attachment_base64.filename : null,\n    }\n  });\n}\n\nreturn results;\n"
      },
      "id": "parse-validate-v3",
      "name": "AI Parse & Validate v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "source-check",
              "leftValue": "={{ $json._source }}",
              "rightValue": "webhook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-by-source",
      "name": "Route by Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1360,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond with Dashboard URL",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1620,
        300
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "={{ $json.from_email ? $json.from_email : 'emoney@zeyalabs.ai' }}",
        "subject": "=EMI Pipeline: {{ $json.company }} — {{ $json.scenario }}",
        "bodyContent": "=✉️ Disbursement Request Received\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n🎫  Ticket ID:   {{ $json.ticket_id || 'Pending assignment' }}\n\nYour disbursement request has been received and processed.\n\n🏢  Company:     {{ $json.company }}\n💰  Amount:      {{ $json.amount ? Number($json.amount).toLocaleString() : '0' }} {{ $json.currency || 'MMK' }}\n📄  Type:        {{ $json.payment_type === 'salarytoOTC' ? 'SalaryToOTC (no employee list)' : 'SalaryToMA (with employee list)' }}\n👥  Attachments: {{ $json.attachment_count > 0 ? $json.attachment_count + ' file(s): ' + ($json.attachment_names || []).join(', ') : 'None' }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n🔍  Verification Status\n\n{{ $json.verification && $json.verification.company_name ? '✅' : '⚠️' }} Company name: {{ $json.company }}\n{{ $json.verification && $json.verification.payment_type ? '✅' : '⚠️' }} Payment type: {{ $json.payment_type || 'unknown' }}\n{{ $json.verification && $json.verification.amount ? '✅' : '⚠️' }} Amount: {{ $json.amount ? Number($json.amount).toLocaleString() : '0' }} {{ $json.currency || 'MMK' }}\n{{ $json.verification && $json.verification.payment_date ? '✅' : '⚠️' }} Payment date: {{ $json.payment_date || 'Not specified in request' }}\n{{ $json.verification && $json.verification.payroll_period ? '✅' : '⚠️' }} Payroll period: {{ $json.payroll_period || 'Not specified in request' }}\n{{ $json.verification && $json.verification.approval ? '✅' : '⚠️' }} Approval: {{ $json.matrix_complete ? 'Sales HOD + Finance Manager found' : 'Missing required approvals' }}\n{{ $json.verification && $json.verification.attachment ? '✅' : '⚠️' }} Attachment: {{ $json.attachment_count > 0 ? $json.attachment_count + ' file(s)' : 'None detected' }}\n{{ $json.verification && $json.verification.employee_list ? '✅' : '⚠️' }} Employee list: {{ $json.extracted_employee_count > 0 ? $json.extracted_employee_count + ' employees extracted' : 'None detected (defaults to salarytoOTC)' }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n➡️  Next Steps\n\n{{ $json.scenario === 'NORMAL' ? '1. E-Money team will review and prepare files\\n2. Finance approval (if required)\\n3. Disbursement processing' : $json.scenario === 'MISSING_APPROVAL' ? '1. Please ensure Sales HOD and Finance Manager approvals are included\\n2. Resubmit with complete approvals\\n3. Contact emoney@zeyalabs.ai for questions' : '1. Amount discrepancy detected — please verify\\n2. Resubmit with corrected amounts\\n3. Contact emoney@zeyalabs.ai for questions' }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n🔗  Track this request{{ $json.ticket_id ? ' (' + $json.ticket_id + ')' : '' }}:\n{{ $json.dashboard_url }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nWave Money | E-Money Operations\nemoney@zeyalabs.ai",
        "options": {
          "ccRecipients": "emoney@zeyalabs.ai"
        }
      },
      "id": "send-notification",
      "name": "Send Outlook Notification",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "position": [
        1620,
        520
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_WITH_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook (emoney@zeyalabs.ai)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-from-email",
              "leftValue": "={{ $json.from_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-rejection-email",
      "name": "Is Rejection Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        340
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "={{ $json.from_email }}",
        "subject": "=Re: {{ $json.original_subject || 'Your Request' }} — Unable to Process",
        "bodyContent": "=Unable to Process Your Disbursement Request\n\nDear Sender,\n\nWe received your email \"{{ $json.original_subject || \"your request\" }}\" but our automated pipeline was unable to process it.\n\n{{ $json._skip_reason === \"empty_body\" ? \"REASON: Empty or insufficient email body\\n\\nYour email did not contain enough information for us to process the disbursement request.\\n\\nHOW TO FIX:\\n1. Compose a new email to emoney@zeyalabs.ai\\n2. Include in the body: Company name, Total amount, Payment date, Payment type, and Approver names\\n3. Attach your payroll document (PDF, Excel, or image)\\n4. Send the email — our system will process it automatically\" : $json._skip_reason === \"password_protected_file\" ? \"REASON: Password-protected or encrypted file\\n\\nThe attached file is encrypted. Our AI system cannot read password-protected files — this is a security limitation, not a bug.\\n\\nHOW TO FIX:\\n1. Open the file on your computer using the password\\n2. For Excel: File > Info > Protect Workbook > Encrypt with Password > clear the password field > Save\\n3. For PDF: use your PDF editor to remove the password protection\\n4. Save as a new unprotected file\\n5. Re-send your email with the unprotected file attached\" : $json._skip_reason === \"zip_archive\" || $json._skip_reason === \"rar_archive\" || $json._skip_reason === \"7z_archive\" ? \"REASON: Compressed archive file (ZIP/RAR/7z)\\n\\nOur pipeline processes individual documents, not compressed archives.\\n\\nHOW TO FIX:\\n1. Extract/unzip the contents of your archive\\n2. Attach the actual document file directly (not inside a ZIP)\\n3. Accepted formats: PDF, Excel (.xlsx), images (JPG, PNG), or CSV\\n4. Re-send your email with the extracted file attached\" : $json._skip_reason === \"unsupported_file_format\" ? \"REASON: Unsupported file format\\n\\nThe attached file type is not supported by our system.\\n\\nHOW TO FIX:\\n1. Convert your document to one of these accepted formats:\\n   - PDF (recommended)\\n   - Excel spreadsheet (.xlsx)\\n   - Image scan (JPG or PNG)\\n   - CSV or TSV file\\n2. Ensure the file is NOT password-protected\\n3. Re-send your email with the converted file attached\" : \"REASON: The request could not be processed. Please contact emoney@zeyalabs.ai for assistance.\" }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\nACCEPTED FILE FORMATS:\n  ✓ PDF documents (unprotected)\n  ✓ Excel spreadsheets (.xlsx, .xls — unprotected)\n  ✓ Images (JPG, PNG — scans or photos of payroll documents)\n  ✓ CSV / TSV files\n\nNOT ACCEPTED:\n  ✗ Password-protected or encrypted files\n  ✗ Compressed archives (ZIP, RAR, 7z)\n  ✗ Word documents (.doc, .docx)\n  ✗ PowerPoint (.ppt, .pptx)\n\nIf you need help, reply to this email or contact emoney@zeyalabs.ai.\n\nBest regards,\nWave Money | E-Money Operations\nemoney@zeyalabs.ai",
        "options": {
          "ccRecipients": "emoney@zeyalabs.ai"
        }
      },
      "id": "send-rejection-email",
      "name": "Send Rejection Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1060,
        260
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_WITH_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook (emoney@zeyalabs.ai)"
        }
      }
    }
  ],
  "connections": {
    "INTAKE: Manual Test (POST JSON)": {
      "main": [
        [
          {
            "node": "Prepare for AI v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INTAKE: Outlook Mailbox (production)": {
      "main": [
        [
          {
            "node": "Prepare for AI v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI v3": {
      "main": [
        [
          {
            "node": "Skip Filter (v11.1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Filter (v11.1)": {
      "main": [
        [
          {
            "node": "Is Rejection Email?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini 3 Extract (Consolidated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 3 Extract (Consolidated)": {
      "main": [
        [
          {
            "node": "AI Parse & Validate v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Parse & Validate v3": {
      "main": [
        [
          {
            "node": "Route by Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Source": {
      "main": [
        [
          {
            "node": "Respond with Dashboard URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Outlook Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Rejection Email?": {
      "main": [
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}