pipelines/n8n-workflow-v1.json
{
  "name": "EMI Email Intake Pipeline (Webhook + Gmail + AI)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emi-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "emi-intake"
    },
    {
      "parameters": {
        "simple": false,
        "filters": {}
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [250, 520],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail (personal)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare raw email data for AI extraction\n// Handles both webhook (lowercase) and Gmail (capitalized) field names\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const d = item.json;\n\n  // Detect source\n  const isEmail = d.snippet !== undefined || d.threadId !== undefined || d.Subject !== undefined || d.From !== undefined;\n  const source = isEmail ? 'email' : 'webhook';\n\n  // Extract raw fields — handle Gmail capitalized + webhook lowercase\n  const subject = isEmail\n    ? (d.Subject || d.subject || '')\n    : (d.body?.subject || d.subject || '');\n\n  // LOOP GUARD: Skip notification emails sent by this pipeline\n  if (isEmail && (subject.includes('EMI Pipeline:') || subject.includes('EMI Pipeline —'))) {\n    continue;\n  }\n\n  let body = '';\n  if (isEmail) {\n    body = d.textPlain || d.text || d.snippet || d.textHtml || '';\n    // Fallback: extract from payload parts (simple=false format)\n    if ((!body || body.length < 50) && d.payload && d.payload.parts) {\n      for (const part of d.payload.parts) {\n        if (part.mimeType === 'text/plain' && part.body && part.body.data) {\n          try { body = Buffer.from(part.body.data, 'base64').toString('utf-8'); } catch(e) {}\n          break;\n        }\n      }\n    }\n    if ((!body || body.length < 50) && d.payload && d.payload.body && d.payload.body.data) {\n      try { body = Buffer.from(d.payload.body.data, 'base64').toString('utf-8'); } catch(e) {}\n    }\n    body = body.replace(/<[^>]*>/g, ' ').replace(/\\s+/g, ' ').trim();\n  } else {\n    const raw = d.body?.body || d.bodyPreview || d.body || '';\n    body = typeof raw === 'string' ? raw : '';\n  }\n\n  let from = '';\n  if (isEmail) {\n    let rawFrom = d.From || d.from || '';\n    // Fallback: extract from payload headers (simple=false format)\n    if (!rawFrom && d.payload && d.payload.headers) {\n      const hdr = d.payload.headers.find(h => h.name.toLowerCase() === 'from');\n      if (hdr) rawFrom = hdr.value || '';\n    }\n    if (typeof rawFrom === 'string') {\n      const m = rawFrom.match(/<([^>]+)>/);\n      from = m ? m[1] : rawFrom;\n    }\n  } else {\n    from = d.body?.from || d.from || '';\n  }\n\n  // Build AI prompt (works with any LLM: Groq, Gemini, OpenAI, etc.)\n  const prompt = `You are an email parser for Wave Money's EMI (Electronic Money Issuer) salary disbursement pipeline in Myanmar.\n\nAnalyze this email and extract structured data.\n\nEMAIL SUBJECT: ${subject}\nEMAIL BODY: ${body}\nFROM: ${from}\n\nReturn a JSON object with these exact fields:\n{\n  \"is_disbursement\": true or false (is this a salary/EMI/disbursement/OTC request?),\n  \"company\": \"company name requesting disbursement\",\n  \"amount\": number (total amount in MMK, 0 if not found),\n  \"type\": \"SalaryToOTC\" if OTC or over-the-counter is mentioned, otherwise \"SalaryToMA\",\n  \"approvers\": [{\"name\": \"person name\", \"role\": \"their title/role\", \"status\": \"Approved\"}],\n  \"body_preview\": \"first 200 characters of the email body\"\n}\n\nIMPORTANT: Return ONLY the JSON object, no explanation or markdown.`;\n\n  results.push({\n    json: {\n      _source: source,\n      from_email: from,\n      original_subject: subject,\n      prompt: prompt\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "prepare-for-ai",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer REPLACE_WITH_GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama-3.3-70b-versatile', messages: [{ role: 'user', content: $json.prompt }], response_format: { type: 'json_object' }, temperature: 0.1 }) }}",
        "options": {}
      },
      "id": "groq-extract",
      "name": "Groq AI Extract",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 400]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response (Groq/OpenAI format), validate authority matrix, generate dashboard URL\n\nconst items = $input.all();\nconst results = [];\n\n// Retrieve metadata from Prepare node (HTTP Request replaces item data)\nconst prepData = $('Prepare for AI').first().json;\nconst source = prepData._source;\nconst from_email = prepData.from_email;\nconst original_subject = prepData.original_subject;\n\nfor (const item of items) {\n  const d = item.json;\n\n  // Extract AI response text — Groq/OpenAI format\n  let aiText = '';\n  if (d.choices && d.choices[0]) {\n    aiText = d.choices[0].message.content || '';\n  }\n\n  // Parse JSON from AI response\n  let parsed = {};\n  try {\n    parsed = JSON.parse(aiText);\n  } catch (e) {\n    // Fallback: try extracting from markdown code block\n    const jsonMatch = aiText.match(/```json?\\s*([\\s\\S]*?)```/);\n    if (jsonMatch) {\n      try { parsed = JSON.parse(jsonMatch[1]); } catch (e2) {}\n    }\n  }\n\n  // AI-powered keyword filter: skip non-disbursement emails\n  if (!parsed.is_disbursement) {\n    return [];\n  }\n\n  // AUTHORITY MATRIX CHECK\n  const required = ['Sales HOD', 'Finance Manager'];\n  const matrixResults = required.map(req => {\n    const found = (parsed.approvers || []).find(a =>\n      a.role.toLowerCase().includes(req.toLowerCase())\n    );\n    return {\n      requiredRole: req,\n      found: !!found,\n      foundName: found ? found.name : 'MISSING',\n    };\n  });\n  const matrixComplete = matrixResults.every(m => m.found);\n\n  // SCENARIO DETECTION\n  let scenario = 'NORMAL';\n  if (!matrixComplete) {\n    scenario = 'MISSING_APPROVAL';\n  }\n\n  // BUILD TICKET PAYLOAD\n  const ticket = {\n    company: parsed.company || 'Unknown Company',\n    type: parsed.type || 'SalaryToMA',\n    amount_requested: parsed.amount || 0,\n    amount_on_bank_slip: parsed.amount || 0,\n    currency: 'MMK',\n    approvals: parsed.approvers || [],\n    required_approvals: required,\n    body_preview: parsed.body_preview || '',\n    parsed_at: new Date().toISOString(),\n    scenario,\n    approval_matrix_complete: matrixComplete,\n    ai_parsed: true,\n  };\n\n  // GENERATE DASHBOARD URL\n  const encoded = Buffer.from(JSON.stringify(ticket)).toString('base64');\n  const dashboardUrl = `https://wave-emi-dashboard.vercel.app/?n8n_ticket=${encoded}`;\n\n  results.push({\n    json: {\n      _source: source,\n      dashboard_url: dashboardUrl,\n      company: parsed.company || 'Unknown Company',\n      amount: parsed.amount || 0,\n      type: parsed.type || 'SalaryToMA',\n      scenario,\n      matrix_complete: matrixComplete,\n      matrix_details: matrixResults,\n      from_email: from_email,\n      original_subject: original_subject,\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "parse-validate",
      "name": "AI Parse & Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "source-check",
              "leftValue": "={{ $json._source }}",
              "rightValue": "webhook",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-by-source",
      "name": "Route by Source",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1320, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond with Dashboard URL",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1580, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.from_email || 'khanhnguyen@zeyalabs.ai' }}",
        "subject": "=EMI Pipeline: {{ $json.company }} — {{ $json.scenario }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto\"><div style=\"background:#001E4E;padding:20px;border-radius:12px 12px 0 0\"><h2 style=\"color:#fff;margin:0\">Wave EMI Pipeline</h2><p style=\"color:#00C2D4;margin:4px 0 0\">AI-Powered Disbursement Processing</p></div><div style=\"background:#f8fafc;padding:24px;border:1px solid #e2e8f0\"><h3 style=\"color:#001E4E;margin-top:0\">New Ticket Created</h3><table style=\"width:100%;border-collapse:collapse\"><tr><td style=\"padding:8px 0;color:#64748b\">Company</td><td style=\"padding:8px 0;font-weight:bold\">{{ $json.company }}</td></tr><tr><td style=\"padding:8px 0;color:#64748b\">Amount</td><td style=\"padding:8px 0;font-weight:bold\">{{ $json.amount?.toLocaleString() }} MMK</td></tr><tr><td style=\"padding:8px 0;color:#64748b\">Type</td><td style=\"padding:8px 0\">{{ $json.type }}</td></tr><tr><td style=\"padding:8px 0;color:#64748b\">Scenario</td><td style=\"padding:8px 0\"><span style=\"background:{{ $json.scenario === 'NORMAL' ? '#dcfce7' : '#fef3c7' }};color:{{ $json.scenario === 'NORMAL' ? '#166534' : '#92400e' }};padding:4px 12px;border-radius:12px;font-size:13px\">{{ $json.scenario }}</span></td></tr><tr><td style=\"padding:8px 0;color:#64748b\">Authority Matrix</td><td style=\"padding:8px 0\">{{ $json.matrix_complete ? '✅ Complete' : '⚠️ Incomplete' }}</td></tr></table><div style=\"margin-top:24px;text-align:center\"><a href=\"{{ $json.dashboard_url }}\" style=\"display:inline-block;padding:14px 32px;background:#0057B8;color:#fff;text-decoration:none;border-radius:8px;font-weight:bold;font-size:16px\">Open Dashboard to Review</a></div></div><div style=\"background:#f1f5f9;padding:12px 24px;border-radius:0 0 12px 12px;border:1px solid #e2e8f0;border-top:0\"><p style=\"color:#94a3b8;font-size:12px;margin:0\">Parsed by Groq AI (Llama 3.3) | Auto-generated by Wave EMI Pipeline (n8n)</p></div></div>",
        "options": {}
      },
      "id": "send-notification",
      "name": "Send Gmail Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1580, 520],
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_GMAIL_CREDENTIAL_ID",
          "name": "Gmail (personal)"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "Groq AI Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq AI Extract": {
      "main": [
        [
          {
            "node": "AI Parse & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Parse & Validate": {
      "main": [
        [
          {
            "node": "Route by Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Source": {
      "main": [
        [
          {
            "node": "Respond with Dashboard URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Gmail Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
