pipelines/n8n-workflow-worker-v13_3.json
{
  "name": "EMI Worker v13.3 (KAN-47) — Multi-Attachment + Parallel Gemini + Client-Fail-First Gates",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Prepare raw email data for AI extraction (v11.1)\n// v11.1: skip-flag pattern replaces `return []` to avoid n8n 2.14 Task Runner\n//        \"json property isn't an object\" errors that were aborting batches and\n//        dropping legitimate emails sharing the Outlook polling cycle.\n// v11.1: email body preserves line breaks for dashboard display (two versions —\n//        bodyForDisplay keeps \\n, bodyForAI collapses whitespace for Groq).\n// v11: KAN-36 extraction fields (initiator_name, purpose, cost_center)\n// v10.1: KAN-35 payment_date + payroll_period\n// v10: KAN-30 payment_type classification + attachment fix + verification checklist\n// v5.1: full email body passthrough, circuit breaker fix\n// v3: binary attachment extraction + rate limiting\n// MODE: Run Once for Each Item (n8n 2.x Task Runner compatible)\n\nconst item = $input.item;\n\n// v11.1 SKIP PATTERN: always return a valid json object. Skip Filter IF node\n// downstream routes _skip:true items to a dead-end. No more `return []` errors.\nconst skip = (reason) => ({ json: { _skip: true, _skip_reason: reason } });\n\n// Error guard — skip binary-only items and malformed emails\nif (!item.json || typeof item.json !== 'object' || Array.isArray(item.json)) {\n  return skip('malformed_item');\n}\nconst d = item.json;\n\n// Skip items that are just binary attachments (no email metadata)\nif (!d.subject && !d.bodyPreview && !d.snippet && !d.Subject && !d.From && !(d.body && d.body.content) && !(d.payload && d.payload.headers) && !d.from) {\n  return skip('no_email_metadata');\n}\n\n// Rate limit: text calls (persists across production executions)\nconst staticData = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().slice(0, 10);\nif (staticData.date !== today) {\n  staticData.date = today;\n  staticData.textCalls = 0;\n  staticData.visionCalls = 0;\n  staticData.visionErrors = 0;\n}\nif (staticData.textCalls >= 100) {\n  return skip('daily_text_cap_reached');\n}\nstaticData.textCalls++;\n\n// Helper: resolve a value that might be string, object, or array to a readable string\nfunction resolveValue(val) {\n  if (typeof val === 'string') return val;\n  if (val && typeof val === 'object') {\n    if (val.text && typeof val.text === 'string') return val.text;\n    if (Array.isArray(val.value) && val.value[0]) {\n      const parts = val.value.map(v => v.address ? (v.name ? v.name + ' <' + v.address + '>' : v.address) : '');\n      return parts.filter(Boolean).join(', ');\n    }\n    if (val.address) return val.name ? val.name + ' <' + val.address + '>' : val.address;\n    if (Array.isArray(val)) {\n      return val.map(v => resolveValue(v)).filter(Boolean).join(', ');\n    }\n    try { const j = JSON.stringify(val); if (j !== '{}') return j; } catch(e) {}\n  }\n  return '';\n}\n\n// Helper: extract any email header by name (works across all Gmail data formats)\nfunction getHeader(name) {\n  if (d.payload && d.payload.headers && Array.isArray(d.payload.headers)) {\n    const h = d.payload.headers.find(h => h.name && h.name.toLowerCase() === name.toLowerCase());\n    if (h && h.value) return h.value;\n  }\n  const capKey = name.charAt(0).toUpperCase() + name.slice(1);\n  if (d[capKey]) return resolveValue(d[capKey]);\n  if (d[name.toLowerCase()]) return resolveValue(d[name.toLowerCase()]);\n  if (d.headers && typeof d.headers === 'object' && !Array.isArray(d.headers)) {\n    const val = d.headers[name] || d.headers[name.toLowerCase()];\n    if (val) return resolveValue(val);\n  }\n  return '';\n}\n\nconst isEmail = d.snippet !== undefined || d.threadId !== undefined || d.Subject !== undefined || d.From !== undefined || (d.payload && d.payload.headers) || d.bodyPreview !== undefined || (d.from && d.from.emailAddress);\nconst source = isEmail ? 'email' : 'webhook';\n\n// v13.3 KAN-47: skip Outlook drafts silently.\n// Spooler v1 can pick up drafts from the mailbox depending on folder config.\n// Drafts have no real content and must NOT route to Send Rejection Email\n// (which would attempt to email an empty from-address). Silent skip = no\n// ticket created, no rejection notification fired.\nif (isEmail && d.isDraft === true) {\n  return skip('outlook_draft');\n}\n\nconst subject = isEmail\n  ? (d.subject || getHeader('Subject') || '')\n  : (d.body?.subject || d.subject || '');\n\n// LOOP GUARD: skip our own outbound emails (notifications + returns) that land in emoney@zeyalabs.ai via CC\n// v10.1+ fix: sender-based check catches return emails + future outbound types.\n// Subject checks kept as belt-and-suspenders defense.\nconst senderEmailAddr = (d.from && d.from.emailAddress ? d.from.emailAddress.address : '').toLowerCase();\nif (isEmail && (senderEmailAddr === 'emoney@zeyalabs.ai' || subject.includes('EMI Pipeline:') || subject.includes('EMI Pipeline \\u2014'))) {\n  return skip('loop_guard_self_send');\n}\n\n// v13.3 KAN-47: defensive skip for shape-without-content emails.\n// Stronger guard than the earlier strict key-existence check. Catches cases\n// where keys exist but all values are empty (Outlook draft-like payloads,\n// malformed Spooler entries, webhook replay shells). Routing as\n// 'no_email_metadata' makes Is Rejection Email? dead-end them (only matches\n// 'empty_body'), preventing Send Rejection Email fires to empty addresses.\nif (isEmail && !subject && !senderEmailAddr) {\n  return skip('no_email_metadata');\n}\n\n// v6: Skip internal Yoma/Wave emails that aren't disbursement requests\nconst internalDomains = ['yoma.com.mm', 'wavemoney.com.mm'];\nconst senderDomain = (d.from && d.from.emailAddress ? d.from.emailAddress.address : '').split('@')[1] || '';\nif (isEmail && internalDomains.includes(senderDomain) && !subject.toLowerCase().includes('disbursement') && !subject.toLowerCase().includes('payroll') && !subject.toLowerCase().includes('salary')) {\n  return skip('internal_domain_non_disbursement');\n}\n\nlet body = '';\nif (isEmail) {\n  body = d.textPlain || d.text || (d.body && d.body.content ? d.body.content : '') || d.bodyPreview || d.snippet || d.textHtml || '';\n  if ((!body || body.length < 50) && d.payload && d.payload.parts) {\n    for (const part of d.payload.parts) {\n      if (part.mimeType === 'text/plain' && part.body && part.body.data) {\n        try { body = Buffer.from(part.body.data, 'base64').toString('utf-8'); } catch(e) {}\n        break;\n      }\n    }\n  }\n  if ((!body || body.length < 50) && d.payload && d.payload.body && d.payload.body.data) {\n    try { body = Buffer.from(d.payload.body.data, 'base64').toString('utf-8'); } catch(e) {}\n  }\n  // v11.1 + v11.2 + v11.3 + v11.4 SCOPE FIX: Build TWO body versions\n  //   1) bodyForDisplay — preserve line breaks (for dashboard \"Show full email\")\n  //   2) body (collapsed) — fed to Groq prompt (existing behavior)\n  //\n  // v11.4 SCOPE FIX: declare bodyForDisplay at function scope (var inside if)\n  // instead of let (block-scoped). Previously v11.3 heuristic was mutating a\n  // block-scoped variable that evaporated at block exit — the return statement\n  // read `typeof bodyForDisplay === 'string'` from function scope (undefined)\n  // and fell back to the collapsed `body` version. Empirical proof: SQL on\n  // TKT-038 showed has_newlines=false despite the heuristic code path running.\n  //\n  // v11.3 addition: After HTML stripping, if the result STILL has no newlines\n  // AND is longer than 200 chars, inject heuristic newlines before common email\n  // structure markers (Field:, bullets, signatures). This catches Outlook Web's\n  // case of wrapping all content in inline tags only.\n  var bodyForDisplay = body\n    // Strip HTML conditional comments (<!--[if gte mso 9]>...<![endif]-->)\n    .replace(/<!--\\[if[\\s\\S]*?<!\\[endif\\]-->/g, ' ')\n    .replace(/<!--[\\s\\S]*?-->/g, ' ')\n    // Strip <head>/<style>/<script> blocks entirely\n    .replace(/<(head|style|script)\\b[^>]*>[\\s\\S]*?<\\/\\1>/gi, ' ')\n    // Convert HTML entities representing newlines BEFORE tag stripping\n    .replace(/&#13;&#10;/g, '\\n')\n    .replace(/&#10;/g, '\\n')\n    .replace(/&#13;/g, '\\n')\n    .replace(/&#xD;/gi, '\\n')\n    .replace(/&#xA;/gi, '\\n')\n    // Convert block-breaking tags to newline (v11.3: added span as Outlook often wraps paragraphs in spans with no block tags)\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<\\/(p|div|li|tr|h[1-6]|blockquote|section|article|address)>/gi, '\\n')\n    .replace(/<\\/(ul|ol|table)>/gi, '\\n\\n')\n    // Microsoft Office placeholder tag — treat as noise\n    .replace(/<o:p>\\s*<\\/o:p>/gi, ' ')\n    .replace(/<\\/o:p>/gi, '\\n')\n    // Strip all remaining HTML tags → space\n    .replace(/<[^>]*>/g, ' ')\n    // Decode common HTML entities AFTER tag stripping\n    .replace(/&nbsp;/gi, ' ')\n    .replace(/&amp;/gi, '&')\n    .replace(/&lt;/gi, '<')\n    .replace(/&gt;/gi, '>')\n    .replace(/&quot;/gi, '\"')\n    .replace(/&#39;/g, \"'\")\n    // Collapse spaces/tabs only (preserve newlines)\n    .replace(/[ \\t]+/g, ' ')\n    .replace(/\\n[ \\t]+/g, '\\n')\n    .replace(/[ \\t]+\\n/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n  // v11.3 HEURISTIC FALLBACK: if HTML stripping yielded no newlines but body is long,\n  // inject newlines before common disbursement-email structure markers. This is a\n  // pragmatic fix for Outlook Web's all-inline HTML format that our regex can't\n  // structurally detect. Not perfect, but produces readable output for the typical\n  // email shapes clients send.\n  if (bodyForDisplay.length > 200 && bodyForDisplay.indexOf('\\n') === -1) {\n    bodyForDisplay = bodyForDisplay\n      // Before common field labels: put on their own line\n      .replace(/\\s+(Initiator|Purpose|Payment Date|Payroll Period|Cost Center|Total Amount|Payment Type|Approvals?|Approved by|Requested by|Regards|Best regards|Sincerely|Thanks|Thank you)\\s*[:,]/gi, '\\n$1:')\n      // Bullet items (- Name, Role)\n      .replace(/\\s+-\\s+([A-Z])/g, '\\n- $1')\n      // Sentence boundaries (.  Capital letter) — keep conservative, only after 3+ word sentence\n      .replace(/([a-z]{3,}\\.)\\s+([A-Z])/g, '$1\\n$2')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n  }\n  // Strip Outlook external-email warnings from BOTH versions\n  const stripWarnings = (s) => s\n    .replace(/You don't often get email from[^.]*\\./g, '')\n    .replace(/Learn why this is important/g, '')\n    .replace(/EXTERNAL EMAIL:[^.]*\\./g, '')\n    .replace(/This email originated from outside of the organization[^.]*\\./g, '')\n    .trim();\n  bodyForDisplay = stripWarnings(bodyForDisplay);\n  // AI version: fully collapsed (same semantics as pre-v11.1)\n  body = bodyForDisplay.replace(/\\s+/g, ' ').trim();\n} else {\n  const raw = d.body?.body || d.bodyPreview || d.body || '';\n  body = typeof raw === 'string' ? raw : '';\n  var bodyForDisplay = body;\n}\n\nlet from = '';\nif (isEmail) {\n  // Outlook format: from.emailAddress.address\n  if (d.from && d.from.emailAddress && d.from.emailAddress.address) {\n    from = d.from.emailAddress.address;\n  } else {\n    let rawFrom = getHeader('From');\n    if (!rawFrom) {\n      for (const [key, val] of Object.entries(d)) {\n        if (key.toLowerCase().includes('from') && typeof val === 'string' && val.includes('@')) {\n          rawFrom = val; break;\n        }\n      }\n    }\n    if (typeof rawFrom === 'string' && rawFrom) {\n      const m = rawFrom.match(/<([^>]+)>/);\n      from = m ? m[1] : rawFrom.trim();\n    }\n  }\n} else {\n  from = d.body?.from || d.from || '';\n}\n\n// Outlook: toRecipients[].emailAddress.address, ccRecipients, receivedDateTime, conversationId\n\n// KAN-28 #2: reject emails with empty/minimal body (Vinh spec)\n// Placed AFTER from extraction (from is let-declared, can't access before init)\nif (isEmail && (!body || body.trim().length < 30)) {\n  return { json: { _skip: true, _skip_reason: 'empty_body', from_email: from, original_subject: subject } };\n}\n\nconst to_email = isEmail ? (d.toRecipients ? d.toRecipients.map(r => r.emailAddress ? r.emailAddress.address : '').join(', ') : getHeader('To')) : '';\nconst cc_emails = isEmail ? (d.ccRecipients ? d.ccRecipients.map(r => r.emailAddress ? r.emailAddress.address : '').join(', ') : getHeader('Cc')) : '';\nconst reply_to = isEmail ? (d.replyTo ? (Array.isArray(d.replyTo) ? d.replyTo.map(r => r.emailAddress ? r.emailAddress.address : '').join(', ') : '') : getHeader('Reply-To')) : '';\nconst email_date = isEmail ? (d.receivedDateTime || getHeader('Date')) : '';\nconst message_id = d.id || (isEmail ? getHeader('Message-ID') : '') || '';\nconst thread_id = d.conversationId || d.threadId || '';\n\nlet has_attachments = d.hasAttachments || false;\nconst attachment_names = [];\nfunction scanParts(parts) {\n  if (!Array.isArray(parts)) return;\n  for (const part of parts) {\n    if (part.filename && part.filename.length > 0) {\n      has_attachments = true;\n      attachment_names.push(part.filename);\n    }\n    if (part.parts) scanParts(part.parts);\n  }\n}\nif (d.payload && d.payload.parts) scanParts(d.payload.parts);\n// Outlook attachments: already handled via downloadAttachments option in trigger node\n\n// === v3 NEW: Binary attachment extraction (n8n Cloud Task Runner compatible) ===\n// v13.3 KAN-47: raised MAX_ATTACHMENTS 2 → 5, added smime.p7m filter so Outlook\n// digital signature blobs don't consume a slot or trigger unsupported_file_format\n// rejection on emails that are otherwise processable.\nconst attachment_base64_list = [];\nconst MAX_ATTACHMENTS = 5;\nconst MAX_SIZE = 4 * 1024 * 1024; // 4MB Groq hard limit\nlet stripped_smime_count = 0;\nlet stripped_too_large_count = 0;\n\n// Helper: detect Outlook S/MIME signature attachments.\n// These accompany digitally-signed emails and are not user-uploaded content.\n// Rejecting them as 'unsupported_file_format' (the v2 behavior) wrongly blocked\n// legitimate disbursement emails that happened to be signed.\nfunction isSmimeSignature(meta, mime) {\n  const fn = (meta && meta.fileName ? meta.fileName.toLowerCase() : '');\n  return (\n    mime === 'application/pkcs7-signature' ||\n    mime === 'application/x-pkcs7-signature' ||\n    mime === 'application/pkcs7-mime' ||\n    mime === 'application/x-pkcs7-mime' ||\n    fn === 'smime.p7m' ||\n    fn === 'smime.p7s' ||\n    fn.endsWith('.p7m') ||\n    fn.endsWith('.p7s')\n  );\n}\n\nif (item.binary) {\n  const keys = Object.keys(item.binary).filter(k => k.startsWith('attachment_'));\n  for (let j = 0; j < keys.length && attachment_base64_list.length < MAX_ATTACHMENTS; j++) {\n    const meta = item.binary[keys[j]];\n    const mime = meta.mimeType || '';\n    // v13.3: skip S/MIME signature blobs silently — not real user attachments.\n    if (isSmimeSignature(meta, mime)) {\n      stripped_smime_count++;\n      // Also remove from attachment_names so the user-facing count is accurate.\n      if (meta.fileName) {\n        const idx = attachment_names.indexOf(meta.fileName);\n        if (idx !== -1) attachment_names.splice(idx, 1);\n      }\n      continue;\n    }\n    // v9: Populate attachment_names for Outlook (was Gmail-only via scanParts)\n    if (meta.fileName && !attachment_names.includes(meta.fileName)) {\n      attachment_names.push(meta.fileName);\n      has_attachments = true;\n    }\n    // v12.3.2: extract ALL binary types for file detection (v12.3).\n        // Previously only image/* and application/pdf were extracted,\n        // so ZIP/RAR/XLSX/OLE2 bypassed detection entirely.\n        if (mime) {\n      try {\n        // Task Runner: use helpers.getBinaryDataBuffer (no this.)\n        const buffer = await helpers.getBinaryDataBuffer($itemIndex, keys[j]);\n        if (buffer.length <= MAX_SIZE) {\n          attachment_base64_list.push({\n            filename: meta.fileName || keys[j],\n            mimeType: mime,\n            base64: buffer.toString('base64'),\n            sizeBytes: buffer.length\n          });\n        } else {\n          stripped_too_large_count++;\n        }\n      } catch (e) { /* Binary extraction failed — continue without */ }\n    }\n  }\n}\n\n// v10/KAN-30 #2: sync has_attachments with real count (Outlook hasAttachments flag can lie when binaries not downloaded)\nhas_attachments = attachment_names.length > 0;\n\n// ═══ v12.3 / KAN-28 #1: Attachment file type validation ═══\n// Detects and rejects: password-protected files, ZIP/RAR/7z archives.\n// Accepts: normal PDF, images, unprotected XLSX/XLS/CSV.\n// Uses only Buffer ops (no npm packages — n8n Cloud Task Runner compatible).\n//\n// v13.3 KAN-47 refactor: logic extracted into `detectRejectReason(buf)` so we\n// can validate EVERY attachment (not just [0]) and tag each with its own result.\n// The original \"reject the whole email if [0] fails\" behavior is preserved\n// unchanged in this step — that gate gets upgraded in Layer C Step 6.\nfunction detectRejectReason(buf) {\n  const hasMagic = (sig, off) => {\n    if (buf.length < off + sig.length) return false;\n    for (let i = 0; i < sig.length; i++) { if (buf[off + i] !== sig[i]) return false; }\n    return true;\n  };\n  const findStr = (str, maxScan) => {\n    const target = Buffer.from(str, 'utf8');\n    const limit = Math.min(buf.length, maxScan || 65536);\n    return buf.indexOf(target, 0) !== -1 && buf.indexOf(target, 0) < limit;\n  };\n  const findUtf16 = (str, maxScan) => {\n    const target = Buffer.from(str, 'utf16le');\n    const limit = Math.min(buf.length, maxScan || 65536);\n    const pos = buf.indexOf(target, 0);\n    return pos !== -1 && pos < limit;\n  };\n\n  // 1. RAR / 7z — reject immediately (unambiguous magic, zero false positives)\n  if (hasMagic([0x52,0x61,0x72,0x21,0x1A,0x07], 0)) return 'rar_archive';\n  if (hasMagic([0x37,0x7A,0xBC,0xAF,0x27,0x1C], 0)) return '7z_archive';\n\n  // 2. OLE2 Compound Document (D0 CF 11 E0) — encrypted XLSX lives here\n  if (hasMagic([0xD0,0xCF,0x11,0xE0,0xA1,0xB1,0x1A,0xE1], 0)) {\n    if (findUtf16('EncryptedPackage') || findUtf16('EncryptionInfo')) return 'password_protected_file';\n    if (!findUtf16('Workbook') && !findUtf16('Book')) return 'unsupported_file_format';\n    return null; // legacy unprotected XLS — accept\n  }\n\n  // 3. ZIP-based files (PK signature) — distinguish XLSX from generic ZIP\n  if (hasMagic([0x50,0x4B,0x03,0x04], 0) || hasMagic([0x50,0x4B,0x05,0x06], 0)) {\n    const zipEncrypted = buf.length >= 8 && (buf.readUInt16LE(6) & 0x0001) !== 0;\n    if (zipEncrypted) return 'password_protected_file';\n    const isOOXML = findStr('[Content_Types].xml') && findStr('xl/');\n    if (!isOOXML) return 'zip_archive';\n    return null; // normal unprotected XLSX — accept\n  }\n\n  // 4. PDF encryption check\n  if (hasMagic([0x25,0x50,0x44,0x46,0x2D], 0)) {\n    const needle = Buffer.from('/Encrypt');\n    let pos = buf.indexOf(needle, 0);\n    while (pos !== -1 && pos < Math.min(buf.length, 65536)) {\n      const next = buf[pos + 8];\n      if (next === 0x20 || next === 0x09 || next === 0x0A || next === 0x0D || (next >= 0x30 && next <= 0x39)) {\n        return 'password_protected_file';\n      }\n      pos = buf.indexOf(needle, pos + 8);\n    }\n  }\n  return null;\n}\n\n// v13.3: validate EVERY attachment and tag each with its result.\nfor (let k = 0; k < attachment_base64_list.length; k++) {\n  const att = attachment_base64_list[k];\n  const buf = Buffer.from(att.base64, 'base64');\n  att._rejectReason = detectRejectReason(buf);\n  att._valid = att._rejectReason === null;\n}\n\n// ═══ v13.3 KAN-47 Step 6: all-or-nothing rejection + client-fail-first ═══\n//\n// Vinh's spec: if ANY attachment is unprocessable, reject the WHOLE email\n// with a single rejection reason (possibly 'combined' if multiple reasons).\n// The sender sees one notification about what went wrong — never a partial\n// ticket where Gemini only processed the valid subset.\n//\n// PRIORITY ORDER (most-specific / most-actionable first):\n//   1. too_many_attachments         (exceeded MAX_ATTACHMENTS after smime strip)\n//   2. password_protected_file      (sender can unlock)\n//   3. unsupported_file_format      (sender can convert)\n//   4. zip_archive / rar_archive / 7z_archive  (sender can extract)\n//   5. combined                     (multiple distinct reasons)\n//\n// Note: detection of too_many happens separately — the smime filter loop\n// above CAPS at MAX_ATTACHMENTS for extraction, but doesn't flag overflow.\n// We re-check raw (pre-cap) key count below.\nconst rawBinaryKeys = (item.binary ? Object.keys(item.binary).filter(k => k.startsWith('attachment_')) : []);\n// Count non-smime binary keys (smime was already stripped during extraction,\n// so this re-scans the original binary map).\nlet rawNonSmimeCount = 0;\nif (item.binary) {\n  for (const key of rawBinaryKeys) {\n    const meta = item.binary[key];\n    const mime = meta.mimeType || '';\n    if (!isSmimeSignature(meta, mime)) rawNonSmimeCount++;\n  }\n}\n\nconst PRIORITY_ORDER = [\n  'password_protected_file',\n  'unsupported_file_format',\n  'rar_archive',\n  '7z_archive',\n  'zip_archive'\n];\n\nconst rejectReasons = attachment_base64_list\n  .filter(a => a._rejectReason)\n  .map(a => a._rejectReason);\n\nconst uniqueReasons = [...new Set(rejectReasons)];\n\nlet skipReason = null;\nif (rawNonSmimeCount > MAX_ATTACHMENTS) {\n  // Rule 1: too many attachments — takes precedence over file-type rejections\n  // because the sender needs to reduce count FIRST before re-evaluating others.\n  skipReason = 'too_many_attachments';\n} else if (uniqueReasons.length === 1) {\n  // Rule 2-4: single reason across all bad attachments — use that reason.\n  skipReason = uniqueReasons[0];\n} else if (uniqueReasons.length > 1) {\n  // Rule 5: multiple distinct reasons — pick highest-priority, flag 'combined'.\n  // The rejection email (Step 7) will list all reasons for the sender.\n  skipReason = 'combined';\n}\n\nif (skipReason) {\n  return {\n    json: {\n      _skip: true,\n      _skip_reason: skipReason,\n      _combined_reasons: skipReason === 'combined' ? uniqueReasons : null,\n      _raw_non_smime_count: rawNonSmimeCount,\n      _max_attachments: MAX_ATTACHMENTS,\n      from_email: from,\n      original_subject: subject\n    }\n  };\n}\n\n\n// ═══ v12.4: CSV/XLSX spreadsheet parsing ═══\n// Detects CSV/XLSX attachments, extracts content as text for Gemini.\n// Demo approach: Gemini reads the full spreadsheet text alongside email body.\nlet isSpreadsheet = false;\nlet spreadsheetText = '';\nlet spreadsheetRows = [];\n\nif (attachment_base64_list.length > 0) {\n  const att = attachment_base64_list[0];\n  const attBuf = Buffer.from(att.base64, 'base64');\n  const mime = att.mimeType || '';\n  const fname = (att.filename || '').toLowerCase();\n\n  // Detect XLSX (ZIP with OOXML markers — already passed file detection v12.3)\n  const isXlsx = (mime.includes('spreadsheet') || mime.includes('excel') ||\n    fname.endsWith('.xlsx') || fname.endsWith('.xls')) &&\n    attBuf[0] === 0x50 && attBuf[1] === 0x4B;\n\n  // Detect CSV/TSV\n  const isCsv = mime.includes('csv') || mime.includes('tab-separated') ||\n    mime === 'text/plain' || fname.endsWith('.csv') || fname.endsWith('.tsv');\n\n  if (isXlsx) {\n    // === XLSX: extract XML from ZIP, parse to 2D array ===\n    try {\n      // Pure JS DEFLATE — replaces require('zlib') which is blocked in n8n Cloud.\n      // AI Council confirmed: DecompressionStream and node:zlib also blocked.\n      \n// ═══ Pure JS DEFLATE decompressor (RFC 1951) ═══\n// AI Council result: n8n Cloud blocks require('zlib'), DecompressionStream,\n// and node:zlib. This self-contained implementation handles all XLSX files.\nfunction inflateRaw(input) {\n  const inp = input instanceof Uint8Array ? input : new Uint8Array(input);\n  const out = [];\n  let bp = 0, pos = 0;\n\n  function bits(n) {\n    let r = 0;\n    for (let i = 0; i < n; i++) {\n      if (pos >= inp.length) throw new Error('DEFLATE: unexpected EOF');\n      r |= ((inp[pos] >> bp) & 1) << i;\n      if (++bp === 8) { bp = 0; pos++; }\n    }\n    return r;\n  }\n  function align() { if (bp !== 0) { bp = 0; pos++; } }\n\n  const CLEN_ORDER = [16,17,18,0,8,7,9,6,10,5,11,4,12,3,13,2,14,1,15];\n  const LEN_BASE   = [3,4,5,6,7,8,9,10,11,13,15,17,19,23,27,31,35,43,51,59,67,83,99,115,131,163,195,227,258];\n  const LEN_EXTRA  = [0,0,0,0,0,0,0,0,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4,4,5,5,5,5,0];\n  const DIST_BASE  = [1,2,3,4,5,7,9,13,17,25,33,49,65,97,129,193,257,385,513,769,1025,1537,2049,3073,4097,6145,8193,12289,16385,24577];\n  const DIST_EXTRA = [0,0,0,0,1,1,2,2,3,3,4,4,5,5,6,6,7,7,8,8,9,9,10,10,11,11,12,12,13,13];\n\n  function buildHuff(lens) {\n    const MAX = 15;\n    const blc = new Array(MAX + 1).fill(0);\n    for (let i = 0; i < lens.length; i++) if (lens[i] > 0) blc[lens[i]]++;\n    const fc = new Array(MAX + 1).fill(0);\n    const fs = new Array(MAX + 1).fill(0);\n    let c = 0, s = 0;\n    for (let b = 1; b <= MAX; b++) {\n      c = (c + blc[b - 1]) << 1;\n      fc[b] = c; fs[b] = s;\n      s += blc[b];\n    }\n    const syms = new Array(s);\n    const off = new Array(MAX + 1).fill(0);\n    for (let i = 0; i < lens.length; i++) {\n      const l = lens[i];\n      if (l > 0) syms[fs[l] + off[l]++] = i;\n    }\n    return { blc, fc, fs, syms };\n  }\n\n  function decode(h) {\n    let c = 0;\n    for (let l = 1; l <= 15; l++) {\n      c = (c << 1) | bits(1);\n      const n = h.blc[l];\n      if (n > 0) {\n        const idx = c - h.fc[l];\n        if (idx >= 0 && idx < n) return h.syms[h.fs[l] + idx];\n      }\n    }\n    throw new Error('DEFLATE: invalid Huffman code');\n  }\n\n  const fixedLitLens = new Array(288);\n  for (let i = 0;   i < 144; i++) fixedLitLens[i] = 8;\n  for (let i = 144; i < 256; i++) fixedLitLens[i] = 9;\n  for (let i = 256; i < 280; i++) fixedLitLens[i] = 7;\n  for (let i = 280; i < 288; i++) fixedLitLens[i] = 8;\n  const fixedLit  = buildHuff(fixedLitLens);\n  const fixedDist = buildHuff(new Array(30).fill(5));\n\n  let bfinal = 0;\n  while (!bfinal) {\n    bfinal = bits(1);\n    const btype = bits(2);\n\n    if (btype === 0) {\n      align();\n      const len  = inp[pos] | (inp[pos + 1] << 8); pos += 2;\n      const nlen = inp[pos] | (inp[pos + 1] << 8); pos += 2;\n      for (let i = 0; i < len; i++) out.push(inp[pos++]);\n    } else if (btype === 1 || btype === 2) {\n      let litH, distH;\n      if (btype === 1) {\n        litH = fixedLit; distH = fixedDist;\n      } else {\n        const hlit  = bits(5) + 257;\n        const hdist = bits(5) + 1;\n        const hclen = bits(4) + 4;\n        const clenLens = new Array(19).fill(0);\n        for (let i = 0; i < hclen; i++) clenLens[CLEN_ORDER[i]] = bits(3);\n        const clenH = buildHuff(clenLens);\n        const lens = new Array(hlit + hdist).fill(0);\n        let i = 0;\n        while (i < hlit + hdist) {\n          const sym = decode(clenH);\n          if (sym < 16) { lens[i++] = sym; }\n          else if (sym === 16) { const rep = bits(2) + 3; const prev = lens[i - 1]; for (let k = 0; k < rep; k++) lens[i++] = prev; }\n          else if (sym === 17) { const rep = bits(3) + 3; for (let k = 0; k < rep; k++) lens[i++] = 0; }\n          else if (sym === 18) { const rep = bits(7) + 11; for (let k = 0; k < rep; k++) lens[i++] = 0; }\n          else { throw new Error('DEFLATE: bad code-length symbol'); }\n        }\n        litH  = buildHuff(lens.slice(0, hlit));\n        distH = buildHuff(lens.slice(hlit));\n      }\n      while (true) {\n        const sym = decode(litH);\n        if (sym < 256) { out.push(sym); }\n        else if (sym === 256) { break; }\n        else {\n          const lsym = sym - 257;\n          const len  = LEN_BASE[lsym] + bits(LEN_EXTRA[lsym]);\n          const dsym = decode(distH);\n          const dist = DIST_BASE[dsym] + bits(DIST_EXTRA[dsym]);\n          const start = out.length - dist;\n          for (let k = 0; k < len; k++) out.push(out[start + k]);\n        }\n      }\n    } else { throw new Error('DEFLATE: reserved block type'); }\n  }\n  return Buffer.from(out);\n}\n\n      // ZIP local file header parser\n      function extractFromZip(zipBuf, target) {\n        let pos = 0;\n        while (pos < zipBuf.length - 4) {\n          if (zipBuf[pos]===0x50 && zipBuf[pos+1]===0x4B && zipBuf[pos+2]===0x03 && zipBuf[pos+3]===0x04) {\n            const fnLen = zipBuf.readUInt16LE(pos+26);\n            const exLen = zipBuf.readUInt16LE(pos+28);\n            const cSize = zipBuf.readUInt32LE(pos+18);\n            const cMethod = zipBuf.readUInt16LE(pos+8);\n            const fn = zipBuf.toString('utf8', pos+30, pos+30+fnLen);\n            if (fn.includes(target)) {\n              const raw = zipBuf.subarray(pos+30+fnLen+exLen, pos+30+fnLen+exLen+cSize);\n              if (cMethod === 0) return raw.toString('utf8');\n              if (cMethod === 8) return (function(){ const dec = inflateRaw(raw); return new TextDecoder(\"utf-8\").decode(dec); })();\n            }\n            pos += 30 + fnLen + exLen + cSize;\n          } else pos++;\n        }\n        return null;\n      }\n      // Parse shared strings\n      const ssXml = extractFromZip(attBuf, 'sharedStrings.xml') || '';\n      const sharedStrings = [];\n      const siRe = /<si[^>]*>([\\s\\S]*?)<\\/si>/g;\n      const tRe = /<t[^>]*>([\\s\\S]*?)<\\/t>/g;\n      let siM;\n      while ((siM = siRe.exec(ssXml)) !== null) {\n        let combined = '';\n        let tM;\n        while ((tM = tRe.exec(siM[1])) !== null) combined += tM[1];\n        sharedStrings.push(combined.replace(/&amp;/g,'&').replace(/&lt;/g,'<').replace(/&gt;/g,'>').replace(/&quot;/g,'\"'));\n        tRe.lastIndex = 0;\n      }\n      // Parse sheet1\n      const sheetXml = extractFromZip(attBuf, 'sheet1.xml') || '';\n      const rows = {};\n      let maxCol = 0;\n      const colToNum = (s) => { let n=0; for(const c of s) n=n*26+(c.charCodeAt(0)-64); return n-1; };\n      const rowRe = /<row[^>]*\\br=\"(\\d+)\"[^>]*>([\\s\\S]*?)<\\/row>/g;\n      const cellRe = /<c[^>]*\\br=\"([A-Z]+)(\\d+)\"(?:[^>]*\\bt=\"([^\"]*)\")?[^>]*>([\\s\\S]*?)<\\/c>/g;\n      let rM;\n      while ((rM = rowRe.exec(sheetXml)) !== null) {\n        const rowNum = +rM[1] - 1;\n        const cells = {};\n        let cM;\n        while ((cM = cellRe.exec(rM[2])) !== null) {\n          const colIdx = colToNum(cM[1]);\n          const type = cM[3] || 'n';\n          const body = cM[4];\n          let val = '';\n          if (type === 's') {\n            const vM = body.match(/<v>([\\s\\S]*?)<\\/v>/);\n            val = vM ? (sharedStrings[parseInt(vM[1])] || '') : '';\n          } else if (type === 'inlineStr') {\n            const tM2 = body.match(/<t[^>]*>([\\s\\S]*?)<\\/t>/);\n            val = tM2 ? tM2[1] : '';\n          } else {\n            const vM = body.match(/<v>([\\s\\S]*?)<\\/v>/);\n            val = vM ? vM[1] : '';\n          }\n          cells[colIdx] = val;\n          if (colIdx > maxCol) maxCol = colIdx;\n        }\n        cellRe.lastIndex = 0;\n        rows[rowNum] = cells;\n      }\n      // Build 2D array\n      const rowNums = Object.keys(rows).map(Number).sort((a,b)=>a-b);\n      spreadsheetRows = rowNums.map(r => {\n        const arr = [];\n        for (let c = 0; c <= maxCol; c++) arr.push(rows[r][c] || '');\n        return arr;\n      });\n      // Convert to text (pipe-delimited, max 50 rows)\n      const textRows = spreadsheetRows.slice(0, 50).map((r, i) =>\n        'R' + (rowNums[i]+1) + ': ' + r.join(' | ')\n      );\n      spreadsheetText = textRows.join('\\n');\n      isSpreadsheet = true;\n    } catch(e) {\n      // XLSX parsing failed — surface the error for debugging\n      spreadsheetText = 'XLSX_PARSE_ERROR: ' + (e.message || String(e));\n      isSpreadsheet = false;\n    }\n  } else if (isCsv) {\n    // === CSV: detect encoding + delimiter, parse to 2D array ===\n    try {\n      let csvStr = '';\n      // Encoding detection\n      if (attBuf[0]===0xEF && attBuf[1]===0xBB && attBuf[2]===0xBF) {\n        csvStr = attBuf.toString('utf8', 3); // UTF-8 BOM\n      } else if (attBuf[0]===0xFF && attBuf[1]===0xFE) {\n        csvStr = attBuf.toString('utf16le', 2); // UTF-16 LE\n      } else if (attBuf[0]===0xFE && attBuf[1]===0xFF) {\n        csvStr = attBuf.toString('utf16le', 2); // UTF-16 BE (approximate)\n      } else {\n        csvStr = attBuf.toString('utf8');\n      }\n      // Normalize line endings\n      csvStr = csvStr.replace(/\\r\\n/g, '\\n').replace(/\\r/g, '\\n');\n      // Delimiter detection (check first non-empty line)\n      const firstLine = csvStr.split('\\n').find(l => l.trim().length > 0) || '';\n      const delimiters = [',', '\\t', ';', '|'];\n      let bestDel = ',';\n      let bestCount = 0;\n      for (const d of delimiters) {\n        const count = (firstLine.match(new RegExp(d === '|' ? '\\\\|' : d, 'g')) || []).length;\n        if (count > bestCount) { bestCount = count; bestDel = d; }\n      }\n      // Parse rows (simple split — handles most cases)\n      const lines = csvStr.split('\\n').filter(l => l.trim().length > 0);\n      spreadsheetRows = lines.map(line => line.split(bestDel).map(c => c.trim().replace(/^\"|\"$/g, '')));\n      // Convert to text (max 50 rows)\n      spreadsheetText = spreadsheetRows.slice(0, 50).map((r, i) =>\n        'R' + (i+1) + ': ' + r.join(' | ')\n      ).join('\\n');\n      isSpreadsheet = true;\n    } catch(e) {\n      spreadsheetText = 'CSV_PARSE_ERROR: ' + (e.message || String(e));\n      isSpreadsheet = false;\n    }\n  }\n}\n\n\nconst prompt = `You are an email parser for Wave Money's EMI (Electronic Money Issuer) salary disbursement pipeline in Myanmar.\n\nAnalyze this email and extract structured data.\n\nEMAIL SUBJECT: ${subject}\nEMAIL BODY: ${body}\nFROM: ${from}\n\nReturn a JSON object with these exact fields:\n{\n  \"is_disbursement\": true or false (is this a salary/EMI/disbursement/OTC request?),\n  \"company\": \"company name requesting disbursement\",\n  \"amount\": number (total amount in MMK, 0 if not found),\n  \"type\": \"SalaryToOTC\" if OTC or over-the-counter is mentioned, otherwise \"SalaryToMA\",\n  \"approvers\": [{\"name\": \"person name\", \"role\": \"their title/role\", \"status\": \"Approved\"}],\n  \"body_preview\": \"first 200 characters of the email body\",\n  \"payment_date\": \"the date the client wants the salary to be disbursed (their intended pay day), format YYYY-MM-DD or as written; empty string if not mentioned\",\n  \"payroll_period\": \"the time period the salary covers (e.g., 'March 2026' or 'Apr 1-15, 2026'); empty string if not mentioned. NOTE: payment_date is WHEN money moves, payroll_period is WHAT WORK PERIOD the money covers — these are different\",\n  \"initiator_name\": \"the person or role WITHIN THE CLIENT COMPANY who is initiating this disbursement request (e.g., 'HR Manager', 'Thida Hlaing, Payroll Specialist', 'Finance Director'). This is typically the sender or a person named at the top/bottom of the email as 'Requested by' or 'From'. DIFFERENT from approvers. Empty string if not stated explicitly — do NOT infer from email domain.\",\n  \"purpose\": \"why this disbursement is being made (e.g., 'March 2026 Salary', 'Q1 2026 Bonus', 'Contractor Payments for Project X'). Empty string if not mentioned.\",\n  \"cost_center\": \"accounting cost center or department code if mentioned (e.g., 'HR-OPS-001', 'FIN-2026-Q1', 'DEPT-SALES'). Empty string if not mentioned.\"\n}\n\nIMPORTANT: Return ONLY the JSON object, no explanation or markdown.`;\n\nreturn {\n  json: {\n    _source: source,\n    from_email: from,\n    original_subject: subject,\n    prompt: prompt,\n    to_email: to_email,\n    cc_emails: cc_emails,\n    reply_to: reply_to,\n    email_date: email_date,\n    message_id: message_id,\n    thread_id: thread_id,\n    has_attachments: has_attachments,\n    attachment_names: attachment_names,\n    attachment_count: attachment_names.length,\n    // v11.1: pass full email body to dashboard with line breaks preserved\n    // (capped at 2000 chars; dashboard renders with white-space:pre-line CSS)\n    email_body_full: (typeof bodyForDisplay === 'string' ? bodyForDisplay : body).substring(0, 2000),\n    // v3: binary attachment data for vision processing (LEGACY single-attachment shape)\n    // Kept for backward compat with v13.2 Gemini Extract node (unchanged in Step 3).\n    // Step 4 will switch Gemini to consume the attachments[] array below and\n    // this field can be phased out once the dashboard + downstream stop reading it.\n    attachment_base64: attachment_base64_list[0] || null,\n    is_spreadsheet: isSpreadsheet,\n    spreadsheet_text: spreadsheetText,\n    spreadsheet_rows: isSpreadsheet ? spreadsheetRows : null,\n    spreadsheet_row_count: isSpreadsheet ? spreadsheetRows.length : 0,\n    // v12.3.2: vision_eligible only for image/pdf — XLSX/ZIP/etc should NOT\n    // be sent to Gemini as inlineData (Gemini can't read spreadsheet binary).\n    // v12.4: XLSX/XLS sent to Gemini via inlineData (same as PDF)\n    // n8n Cloud sandbox blocks zlib so we can't parse XLSX XML ourselves.\n    // Gemini reads spreadsheets directly — extracts employees + metadata.\n    vision_eligible: attachment_base64_list.length > 0 && (\n      attachment_base64_list[0].mimeType.startsWith('image/') ||\n      attachment_base64_list[0].mimeType === 'application/pdf' ||\n      false // XLSX now parsed internally, not sent to Gemini vision\n    ),\n    // ═══ v13.3 KAN-47: Multi-attachment array ═══\n    // Each attachment carries its own validation result + vision eligibility.\n    // Step 4 Gemini node will Promise.allSettled over valid entries in parallel.\n    // Step 5 Parse & Validate will merge Gemini results back into this array\n    // for per-attachment visibility on the dashboard (AI Assists, Human Decides).\n    attachments: attachment_base64_list.map((a, i) => ({\n      index: i,\n      filename: a.filename,\n      mime_type: a.mimeType,\n      base64: a.base64,\n      size_bytes: a.sizeBytes,\n      valid: a._valid === true,\n      rejection_reason: a._rejectReason || null,\n      // v13.3 KAN-47 fix (Apr 21): XLSX/spreadsheet mimes INTENTIONALLY\n      // EXCLUDED from vision_eligible. Gemini 3 Flash inlineData supports\n      // only image/* + application/pdf; sending XLSX binary returns HTTP\n      // 400. XLSX is parsed internally (inflateRaw) and fed to Gemini via\n      // the spreadsheet_text prompt append in Gemini 3 Extract buildParts().\n      // Matches v13.2 behavior that was lost in the initial Step 3 rewrite.\n      vision_eligible: (\n        a.mimeType.startsWith('image/') ||\n        a.mimeType === 'application/pdf'\n      )\n    })),\n    valid_attachment_count: attachment_base64_list.filter(a => a._valid).length,\n    invalid_attachment_count: attachment_base64_list.filter(a => !a._valid).length,\n    stripped_smime_count: stripped_smime_count,\n    stripped_too_large_count: stripped_too_large_count,\n  }\n};\n",
        "mode": "runOnceForEachItem"
      },
      "id": "prepare-for-ai-v3",
      "name": "Prepare for AI v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "skip-flag-check",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "skip-filter",
      "name": "Skip Filter (v11.1)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        840,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Gemini 3 Flash Parallel Extract (v13.3 — KAN-47 Step 4)\n// ============================================================================\n// Replaces v13.2's single-attachment call with Promise.allSettled over the\n// attachments[] array emitted by Prepare for AI v3 (Step 3).\n//\n// Per Phase 0.6 extended probe (Apr 21): n8n Code nodes have a HARD 60s JS\n// task-runner cap SHARED across items. Sequential for-loop over 5 attachments\n// × ~15s Gemini = 75s → blows the cap. Parallel Promise.allSettled = slowest\n// single call total time → fits with wide margin.\n//\n// Per-call timeout: each Gemini call wrapped in Promise.race with 25s timeout\n// so one slow call can't drag the batch past the 60s ceiling.\n//\n// Backward compat preserved: legacy top-level fields (_gemini_result,\n// _gemini_status, _gemini_usage, _gemini_has_attachment, _extraction_method)\n// are still emitted from attachment_extractions[0]. This lets the unchanged\n// v13.2 Parse & Validate node (until Step 5) continue consuming the same shape.\n//\n// MODE: Run Once for Each Item\n// ============================================================================\n\nconst item = $input.item;\nif (!item.json || typeof item.json !== 'object') {\n  return { json: { _gemini_result: null, _gemini_status: 'skipped' } };\n}\nconst d = item.json;\nconst prepData = $('Prepare for AI v3').first().json;\n\nconst GEMINI_API_KEY = 'REPLACE_WITH_GEMINI_API_KEY';\nconst GEMINI_URL = 'https://generativelanguage.googleapis.com/v1beta/models/gemini-3-flash-preview:generateContent?key=' + GEMINI_API_KEY;\nconst PER_CALL_TIMEOUT_MS = 25000;   // per-attachment Gemini timeout (< 60s node cap)\nconst DAILY_CALL_CAP = 100;          // Gemini daily rate limit\nconst CIRCUIT_BREAKER_ERROR_THRESHOLD = 5;\n\n// ─── Rate limit + circuit breaker state ────────────────────────────────────\nconst staticData = $getWorkflowStaticData('global');\nconst today = new Date().toISOString().slice(0, 10);\nif (staticData.date !== today) {\n  staticData.date = today;\n  staticData.textCalls = 0;\n  staticData.geminiCalls = 0;\n  staticData.geminiErrors = 0;\n}\n\n// Determine how many Gemini calls we plan to fire this execution\nconst attachments = Array.isArray(prepData.attachments) ? prepData.attachments : [];\nconst validAttachments = attachments.filter(a => a && a.valid);\nconst plannedCalls = Math.max(1, validAttachments.length); // at least 1 for text-only emails\n\nconst currentCalls = staticData.geminiCalls || 0;\nconst currentErrors = staticData.geminiErrors || 0;\n\nif (currentCalls + plannedCalls > DAILY_CALL_CAP) {\n  return {\n    json: {\n      ...d,\n      _gemini_result: null,\n      _gemini_status: 'rate_limited',\n      attachment_extractions: [],\n      extraction_count: 0\n    }\n  };\n}\nif (currentErrors >= CIRCUIT_BREAKER_ERROR_THRESHOLD) {\n  return {\n    json: {\n      ...d,\n      _gemini_result: null,\n      _gemini_status: 'circuit_breaker',\n      attachment_extractions: [],\n      extraction_count: 0\n    }\n  };\n}\n\n// Atomically reserve the budget BEFORE parallel fires (avoid race on counter)\nstaticData.geminiCalls = currentCalls + plannedCalls;\n\n// ─── Prompt + response schema (unchanged from v13.2) ───────────────────────\nconst promptText = `You are an email parser for Wave Money's EMI (Electronic Money Issuer) salary disbursement pipeline in Myanmar.\n\nAnalyze the email AND the attached document (if any). Extract all fields per the provided JSON schema.\n\nEMAIL SUBJECT: ${prepData.original_subject || ''}\nEMAIL BODY: ${(prepData.email_body_full || '').slice(0, 4000)}\nFROM: ${prepData.from_email || ''}\n\nCRITICAL RULES:\n- is_disbursement: true ONLY if this is a salary/EMI/disbursement/OTC payment request.\n- Email-side fields (company, initiator_name, purpose, cost_center, payment_date, payroll_period) reflect what the email TEXT says.\n- Document-side fields (doc_company_name, doc_initiator_name, doc_purpose, doc_cost_center, doc_payment_date) reflect what the ATTACHED DOCUMENT shows. They may differ from email-side.\n- payment_date = WHEN the money is meant to be disbursed (e.g. \"2026-04-20\"). Format as shown or YYYY-MM-DD.\n- payroll_period = WHAT WORK PERIOD the salary covers (e.g. \"March 2026\", \"Apr 1-15, 2026\").\n- These are DIFFERENT fields; if present, extract both.\n- corporate_wallet = the SOURCE/FUNDING wallet or account ID on the document header (labels like \"Corporate Wallet\", \"Funding Source Account\", \"Source Account\", \"Payment Source\"). Empty string if not visible.\n- currency: explicit code only (MMK/USD/EUR). Do NOT infer from amount format. Empty string if unclear.\n- employees[]: EVERY row in the document's employee/payroll table. Fields: name (full name as printed — required), account_or_phone (exact digits shown), amount (numeric, no commas).\n- employee_count: total rows extracted. Must equal employees.length.\n- total_amount_on_document: sum of amounts in the employee table, OR the document's own total if labelled.\n- type: \"SalaryToOTC\" if the request mentions OTC / over-the-counter; otherwise \"SalaryToMA\".\n- approvers[]: people who signed/approved, each with name + role + status (use \"Approved\").\n- initiator_name: WITHIN the client company, who initiated the request. Different from approvers. Empty if not explicit.\n- Handwritten content: extract what is legible; if a row is illegible do NOT invent values — omit it and lower vision_confidence.\n- Return empty string \"\" for missing text fields, 0 for missing numbers, [] for empty arrays.\n- document_type: one of \"bank_slip\", \"payment_instruction\", \"payroll_form\", \"unknown\".\n- vision_confidence: 0.0-1.0 of how clearly the attached document was read (0.0 if no attachment).\n- document_signers[]: names + roles of people who signed/authorized the attachment (signature block, \"Signed by\", \"Authorized by\" text visible on the document). Empty array if no signatures visible.\n- If NO attachment is provided, extract all fields from the email body ONLY. Set vision_confidence to 0, employees to empty array (unless employee data is listed in the email body text), and all doc_* fields to empty strings.`;\n\nconst responseSchema = {\n  type: \"object\",\n  properties: {\n    is_disbursement: { type: \"boolean\" },\n    company: { type: \"string\" },\n    amount: { type: \"number\" },\n    type: { type: \"string\", enum: [\"SalaryToOTC\", \"SalaryToMA\"] },\n    approvers: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: {\n          name: { type: \"string\" },\n          role: { type: \"string\" },\n          status: { type: \"string\" }\n        }\n      }\n    },\n    body_preview: { type: \"string\" },\n    payment_date: { type: \"string\" },\n    payroll_period: { type: \"string\" },\n    initiator_name: { type: \"string\" },\n    purpose: { type: \"string\" },\n    cost_center: { type: \"string\" },\n    corporate_wallet: { type: \"string\" },\n    currency: { type: \"string\" },\n    doc_company_name: { type: \"string\" },\n    doc_payment_date: { type: \"string\" },\n    doc_initiator_name: { type: \"string\" },\n    doc_purpose: { type: \"string\" },\n    doc_cost_center: { type: \"string\" },\n    employees: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: {\n          name: { type: \"string\" },\n          account_or_phone: { type: \"string\" },\n          amount: { type: \"number\" }\n        }\n      }\n    },\n    employee_count: { type: \"integer\" },\n    total_amount_on_document: { type: \"number\" },\n    document_type: { type: \"string\" },\n    vision_confidence: { type: \"number\" },\n    document_signers: {\n      type: \"array\",\n      items: {\n        type: \"object\",\n        properties: { name: { type: \"string\" }, role: { type: \"string\" } }\n      }\n    }\n  },\n  required: [\"is_disbursement\", \"company\", \"amount\", \"type\"]\n};\n\n// ─── JSON extraction helper (unchanged from v13.2) ─────────────────────────\nfunction extractBalancedJSON(text) {\n  if (!text || typeof text !== 'string') return null;\n  const fenceStripped = text.replace(/```(?:json)?\\s*/g, '').replace(/```\\s*/g, '').trim();\n  try { return JSON.parse(fenceStripped); } catch(e) {}\n  const candidates = [];\n  for (let i = 0; i < fenceStripped.length; i++) {\n    if (fenceStripped[i] === '{') {\n      let depth = 1;\n      for (let j = i + 1; j < fenceStripped.length; j++) {\n        if (fenceStripped[j] === '{') depth++;\n        else if (fenceStripped[j] === '}') {\n          depth--;\n          if (depth === 0) {\n            candidates.push({ start: i, end: j, text: fenceStripped.slice(i, j + 1) });\n            break;\n          }\n        }\n      }\n    }\n  }\n  candidates.sort((a, b) => b.text.length - a.text.length);\n  for (const c of candidates) {\n    try {\n      const parsed = JSON.parse(c.text);\n      if (parsed && typeof parsed === 'object') return parsed;\n    } catch(e) {}\n  }\n  return null;\n}\n\n// ─── Single Gemini call — returns { parsed, status, usage } ────────────────\nasync function callGemini(parts, hasAttachment) {\n  try {\n    const resp = await helpers.httpRequest({\n      method: 'POST',\n      url: GEMINI_URL,\n      headers: { 'content-type': 'application/json' },\n      body: {\n        contents: [{ parts }],\n        generationConfig: (function(){\n          // responseSchema enforcement only on vision calls — gemini-3-flash-preview\n          // returns empty/unparseable JSON for text-only calls with schema enforcement.\n          const cfg = { temperature: 0.1, maxOutputTokens: 8000, responseMimeType: 'application/json' };\n          if (hasAttachment) cfg.responseSchema = responseSchema;\n          return cfg;\n        })()\n      },\n      json: true\n    });\n\n    if (resp && resp.candidates && resp.candidates[0] && resp.candidates[0].content) {\n      const content = resp.candidates[0].content.parts[0].text || '';\n      const extracted = extractBalancedJSON(content);\n      if (extracted) {\n        return {\n          parsed: extracted,\n          status: hasAttachment ? 'success_with_vision' : 'success_text_only',\n          usage: resp.usageMetadata || null\n        };\n      }\n      return {\n        parsed: { _raw_preview: (content || '').slice(0, 500) },\n        status: 'parse_error',\n        usage: resp.usageMetadata || null\n      };\n    }\n    return { parsed: null, status: 'empty_response', usage: null };\n  } catch(e) {\n    return {\n      parsed: { error_message: e.message || String(e) },\n      status: 'api_error',\n      usage: null\n    };\n  }\n}\n\n// ─── Timeout race wrapper ──────────────────────────────────────────────────\n// If the underlying call doesn't resolve within ms, resolve with a 'timeout'\n// sentinel so Promise.allSettled doesn't hang. 25s < 60s node cap ensures\n// the entire parallel batch finishes within the ceiling.\nfunction withTimeout(promise, ms, attachmentLabel) {\n  return Promise.race([\n    promise,\n    new Promise(resolve => setTimeout(() => resolve({\n      parsed: { error_message: 'Gemini call timed out after ' + ms + 'ms' },\n      status: 'timeout',\n      usage: null\n    }), ms))\n  ]);\n}\n\n// ─── Build parts array for one attachment (or text-only) ───────────────────\nfunction buildParts(attachment) {\n  let text = promptText;\n\n  // Backward compat with v13.2: if this is attachment[0] AND v13.2 Prepare for\n  // AI v3 parsed a spreadsheet for it, include the parsed text in the prompt.\n  // Gemini gets both signals (spreadsheet text + inlineData if vision_eligible).\n  if (attachment && attachment.index === 0 && prepData.is_spreadsheet && prepData.spreadsheet_text) {\n    text = text + '\\n\\nSPREADSHEET ATTACHMENT CONTENT (parsed from ' +\n      (attachment.filename || 'file') + '):\\n' +\n      prepData.spreadsheet_text +\n      '\\n\\nIMPORTANT: Extract employee data from the SPREADSHEET rows above. ' +\n      'Each data row (after the header row) is one employee. ' +\n      'Map columns to: name (employee name if present), account_or_phone (wallet ID, phone, or account number), amount (numeric). ' +\n      'Skip any TOTAL or summary rows. ' +\n      'If no employee name column exists (wallet-only format), set name to empty string. ' +\n      'Also extract metadata from the spreadsheet: corporate_wallet (From Wallet or source account), ' +\n      'currency, total_amount_on_document, doc_company_name, doc_payment_date, doc_initiator_name, doc_purpose, doc_cost_center.';\n  }\n\n  const parts = [{ text }];\n  if (attachment && attachment.vision_eligible && attachment.base64) {\n    parts.push({ inlineData: { mimeType: attachment.mime_type, data: attachment.base64 } });\n  }\n  return parts;\n}\n\n// ─── Main: fire calls in parallel (or one text-only call) ──────────────────\nlet extractions = [];\n\nif (validAttachments.length === 0) {\n  // No attachments — fire ONE text-only call (matches v13.2 behavior)\n  const result = await withTimeout(callGemini(buildParts(null), false), PER_CALL_TIMEOUT_MS);\n  extractions.push({\n    attachment_index: null,\n    filename: null,\n    mime_type: null,\n    _gemini_result: result.parsed,\n    _gemini_status: result.status,\n    _gemini_usage: result.usage\n  });\n  if (result.status === 'api_error' || result.status === 'parse_error' || result.status === 'empty_response' || result.status === 'timeout') {\n    staticData.geminiErrors = (staticData.geminiErrors || 0) + 1;\n  } else {\n    staticData.geminiErrors = 0;\n  }\n} else {\n  // Fire all valid attachments in parallel — Promise.allSettled so one\n  // failure doesn't abort the batch.\n  const promises = validAttachments.map(att => {\n    return withTimeout(callGemini(buildParts(att), att.vision_eligible), PER_CALL_TIMEOUT_MS, att.filename)\n      .then(result => ({\n        attachment_index: att.index,\n        filename: att.filename,\n        mime_type: att.mime_type,\n        _gemini_result: result.parsed,\n        _gemini_status: result.status,\n        _gemini_usage: result.usage\n      }));\n  });\n\n  const settled = await Promise.allSettled(promises);\n\n  let errorInc = 0;\n  extractions = settled.map((s, i) => {\n    if (s.status === 'fulfilled') {\n      const v = s.value;\n      if (v._gemini_status === 'api_error' || v._gemini_status === 'parse_error' || v._gemini_status === 'empty_response' || v._gemini_status === 'timeout') {\n        errorInc++;\n      }\n      return v;\n    }\n    // Promise itself rejected (shouldn't happen since callGemini catches, but defensive)\n    errorInc++;\n    return {\n      attachment_index: validAttachments[i].index,\n      filename: validAttachments[i].filename,\n      mime_type: validAttachments[i].mime_type,\n      _gemini_result: { error_message: String(s.reason) },\n      _gemini_status: 'rejected',\n      _gemini_usage: null\n    };\n  });\n\n  if (errorInc > 0) {\n    staticData.geminiErrors = (staticData.geminiErrors || 0) + errorInc;\n  } else {\n    staticData.geminiErrors = 0;\n  }\n}\n\n// ─── Backward compat: emit legacy top-level fields from extractions[0] ─────\n// The unchanged v13.2 Parse & Validate node (Step 5 target) reads these.\nconst first = extractions[0] || null;\n\nreturn {\n  json: {\n    ...d,\n    _gemini_result: first ? first._gemini_result : null,\n    _gemini_status: first ? first._gemini_status : 'none',\n    _gemini_usage: first ? first._gemini_usage : null,\n    _gemini_has_attachment: validAttachments.length > 0,\n    _extraction_method: prepData.is_spreadsheet ? 'spreadsheet' : (validAttachments.length > 0 ? 'vision' : 'text_only'),\n    // v13.3 NEW — per-attachment parallel extractions (Step 5 will aggregate)\n    attachment_extractions: extractions,\n    extraction_count: extractions.length\n  }\n};\n",
        "mode": "runOnceForEachItem"
      },
      "id": "gemini3-extract",
      "name": "Gemini 3 Extract (Consolidated)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "// AI Parse & Validate v4 (v13.3 KAN-47 Step 5) — consumes consolidated Gemini 3\n// output with multi-attachment support.\n//\n// WHAT CHANGED vs v13.2:\n// - Merges prepData.attachments[] (raw attachment data from Step 3) with\n//   d.attachment_extractions[] (Gemini results from Step 4) into a single\n//   attachments[] array that is POSTed to webhook.js (Layer B).\n// - webhook.js already accepts this array-shaped payload (shipped in Layer B),\n//   so the dashboard will start seeing per-attachment rows automatically.\n// - Primary ticket fields (company, amount, approvers, etc.) still sourced\n//   from the LEGACY _gemini_result (which is attachment_extractions[0] per\n//   Step 4's backward-compat), preserving v13.2 behavior for the main ticket\n//   record. Layer D (dashboard) will later read attachments[] for per-tab\n//   rendering; Step 5 just plumbs the data through.\n//\n// MODE: Run Once for All Items\n\nconst items = $input.all();\nconst results = [];\n\nconst prepData = $('Prepare for AI v3').first().json;\nconst source = prepData._source;\nconst from_email = prepData.from_email;\nconst original_subject = prepData.original_subject;\nconst to_email = prepData.to_email || '';\nconst cc_emails = prepData.cc_emails || '';\nconst reply_to = prepData.reply_to || '';\nconst email_date = prepData.email_date || '';\nconst message_id = prepData.message_id || '';\nconst thread_id = prepData.thread_id || '';\nconst has_attachments = prepData.has_attachments || false;\nconst attachment_names = prepData.attachment_names || [];\nconst attachment_count = prepData.attachment_count || 0;\n\nfor (const item of items) {\n  const d = item.json;\n  const parsed = d._gemini_result || {};\n  const geminiStatus = d._gemini_status || 'none';\n\n  if (!parsed.is_disbursement) {\n    // v13.2 diagnostic: enriched with sender-facing fields for Send Failure Notification\n    // Reasons that should trigger client notification (exclude infra errors like api_error)\n    const NOTIFY_REASONS = ['not_disbursement_or_gemini_failed', 'gemini_parse_error', 'schema_mismatch'];\n    const REASON_MAP = {\n      'not_disbursement_or_gemini_failed': 'We could not identify the disbursement details in your email or attachment. This usually means the email body is missing key information (company name, amount, approvers) or the attachment could not be read clearly.',\n      'gemini_parse_error': 'We could not parse the structured data from your attachment. This often happens with complex handwriting, low-resolution scans, or unusual document layouts.',\n      'schema_mismatch': 'The information extracted from your email did not match the expected disbursement format. Please verify all required fields are present.',\n      'empty_response': 'Our document extraction service returned an empty response. Please try resubmitting.',\n      'api_error': 'A temporary technical issue occurred on our side. Please try again later.',\n      'default': 'We encountered an issue processing your disbursement request.'\n    };\n    const reason = (geminiStatus === 'parse_error') ? 'gemini_parse_error'\n                  : (geminiStatus === 'empty_response') ? 'empty_response'\n                  : (geminiStatus === 'api_error') ? 'api_error'\n                  : 'not_disbursement_or_gemini_failed';\n    const userFriendlyReason = REASON_MAP[reason] || REASON_MAP['default'];\n    const shouldNotify = NOTIFY_REASONS.includes(reason)\n                        && from_email\n                        && from_email.toLowerCase() !== 'emoney@zeyalabs.ai';\n    return [{ json: {\n      _diagnostic: true,\n      _reason: reason,\n      _user_friendly_reason: userFriendlyReason,\n      _should_notify_sender: shouldNotify,\n      from_email: from_email,\n      original_subject: original_subject,\n      _gemini_status: geminiStatus,\n      _gemini_result_keys: parsed ? Object.keys(parsed) : [],\n      _gemini_is_disbursement: parsed.is_disbursement,\n      _gemini_company: parsed.company || null,\n      _raw_gemini: JSON.stringify(parsed).substring(0, 500)\n    }}];\n  }\n\n  const required = ['Sales HOD', 'Finance Manager'];\n  const matrixResults = required.map(req => {\n    const found = (parsed.approvers || []).find(a =>\n      a && a.role && a.role.toLowerCase().includes(req.toLowerCase())\n    );\n    return { requiredRole: req, found: !!found, foundName: found ? found.name : 'MISSING' };\n  });\n  const matrixComplete = matrixResults.every(m => m.found);\n\n  let scenario = 'NORMAL';\n  if (!matrixComplete) scenario = 'MISSING_APPROVAL';\n\n  const employees = Array.isArray(parsed.employees) ? parsed.employees : [];\n  const extractedEmployeeCount = parsed.employee_count || employees.length;\n  const docTotal = parsed.total_amount_on_document || 0;\n  const visionConfidence = parsed.vision_confidence || 0;\n  let emailAmount = parsed.amount || 0;\n\n  // v12.2: body-only fallback — when Gemini text-only maps the total to\n  // total_amount_on_document instead of amount (no responseSchema enforcement),\n  // use docTotal as the primary amount so the ticket isn't stuck at 0.\n  if (emailAmount === 0 && docTotal > 0) {\n    emailAmount = docTotal;\n  }\n\n  let amountMismatch = false;\n  if (docTotal > 0 && emailAmount > 0) {\n    const diff = Math.abs(docTotal - emailAmount);\n    amountMismatch = diff > (emailAmount * 0.01);\n  }\n  if (amountMismatch) scenario = 'AMOUNT_MISMATCH';\n\n  const empSum = employees.reduce((s, e) => s + (Number(e.amount) || 0), 0);\n  const empSumMismatch = emailAmount > 0 && empSum > 0\n    ? Math.abs(empSum - emailAmount) > (emailAmount * 0.01)\n    : false;\n\n  const ticket = {\n    company: parsed.company || 'Unknown Company',\n    type: parsed.type || 'SalaryToMA',\n    amount_requested: emailAmount,\n    amount_on_bank_slip: docTotal > 0 ? docTotal : emailAmount,\n    currency: parsed.currency || 'MMK',\n    approvals: parsed.approvers || [],\n    required_approvals: required,\n    body_preview: parsed.body_preview || '',\n    email_body_full: prepData.email_body_full || '',\n    initiator_name: parsed.initiator_name || '',\n    purpose: parsed.purpose || '',\n    cost_center: parsed.cost_center || '',\n    original_subject: original_subject,\n    parsed_at: new Date().toISOString(),\n    scenario,\n    approval_matrix_complete: matrixComplete,\n    ai_parsed: true,\n    from_email, to_email, cc_emails, reply_to,\n    email_date, message_id, thread_id,\n    has_attachments, attachment_names, attachment_count,\n    amount_on_document: docTotal,\n    amount_mismatch: amountMismatch,\n    document_type: parsed.document_type || '',\n    doc_company_name: parsed.doc_company_name || '',\n    doc_payment_date: parsed.doc_payment_date || '',\n    doc_initiator_name: parsed.doc_initiator_name || '',\n    doc_purpose: parsed.doc_purpose || '',\n    doc_cost_center: parsed.doc_cost_center || '',\n    corporate_wallet: parsed.corporate_wallet || '',\n    vision_parsed: visionConfidence > 0 || extractedEmployeeCount > 0,\n    vision_confidence: visionConfidence,\n    vision_status: geminiStatus,\n      extraction_method: d._extraction_method || \"vision\",\n    extracted_employees: employees,\n    extracted_employee_count: extractedEmployeeCount,\n    employee_extraction_confidence: visionConfidence,\n    employee_extraction_status: extractedEmployeeCount > 0 ? 'success' : geminiStatus,\n    employee_total_extracted: empSum,\n    employee_amount_mismatch: empSumMismatch,\n    payment_date: parsed.payment_date || '',\n    payroll_period: parsed.payroll_period || '',\n  };\n\n  // ─── v13.3 KAN-47 Step 5: merge attachments[] + attachment_extractions[] ───\n  // Build a unified attachments array for webhook.js (Layer B) containing raw\n  // attachment data + per-attachment Gemini extraction results. Maps extraction\n  // back to raw attachment via attachment_index so invalid attachments (which\n  // Gemini didn't process) still appear in the array with rejection info.\n  const rawAttachments = Array.isArray(prepData.attachments) ? prepData.attachments : [];\n  const extractions = Array.isArray(d.attachment_extractions) ? d.attachment_extractions : [];\n\n  const mergedAttachments = rawAttachments.map(raw => {\n    const ext = extractions.find(e => e && e.attachment_index === raw.index) || null;\n    const gr = ext ? ext._gemini_result : null;\n    return {\n      index: raw.index,\n      filename: raw.filename,\n      mime_type: raw.mime_type,\n      base64: raw.base64,\n      size_bytes: raw.size_bytes,\n      valid: raw.valid,\n      rejection_reason: raw.rejection_reason,\n      vision_eligible: raw.vision_eligible,\n      // Per-attachment Gemini output (empty when attachment was invalid / skipped)\n      vision_parsed: ext ? (ext._gemini_status === 'success_with_vision' || ext._gemini_status === 'success_text_only') : false,\n      vision_confidence: gr && typeof gr.vision_confidence === 'number' ? gr.vision_confidence : 0,\n      vision_status: ext ? ext._gemini_status : 'skipped_invalid',\n      company: gr && gr.company ? gr.company : '',\n      amount: gr && typeof gr.amount === 'number' ? gr.amount : 0,\n      currency: gr && gr.currency ? gr.currency : '',\n      payment_date: gr && gr.payment_date ? gr.payment_date : '',\n      document_type: gr && gr.document_type ? gr.document_type : '',\n      document_signers: gr && Array.isArray(gr.document_signers) ? gr.document_signers : [],\n      corporate_wallet: gr && gr.corporate_wallet ? gr.corporate_wallet : '',\n      doc_company_name: gr && gr.doc_company_name ? gr.doc_company_name : '',\n      doc_payment_date: gr && gr.doc_payment_date ? gr.doc_payment_date : '',\n      doc_initiator_name: gr && gr.doc_initiator_name ? gr.doc_initiator_name : '',\n      doc_purpose: gr && gr.doc_purpose ? gr.doc_purpose : '',\n      doc_cost_center: gr && gr.doc_cost_center ? gr.doc_cost_center : '',\n      employees: gr && Array.isArray(gr.employees) ? gr.employees : [],\n      employee_count: gr && typeof gr.employee_count === 'number' ? gr.employee_count : 0,\n      total_amount_on_document: gr && typeof gr.total_amount_on_document === 'number' ? gr.total_amount_on_document : 0,\n      extraction_error: gr && gr.error_message ? gr.error_message : null\n    };\n  });\n\n  const webhookPayload = {\n    ...ticket,\n    // Legacy single-attachment fields — kept for backward compat with any\n    // webhook.js code path that hasn't been updated to consume attachments[].\n    attachment_base64: prepData.attachment_base64 ? prepData.attachment_base64.base64 : null,\n    attachment_mime_type: prepData.attachment_base64 ? prepData.attachment_base64.mimeType : null,\n    attachment_filename: prepData.attachment_base64 ? prepData.attachment_base64.filename : null,\n    // v13.3 multi-attachment array — webhook.js (Layer B) prefers this when present.\n    attachments: mergedAttachments,\n    attachment_extraction_summary: {\n      total: rawAttachments.length,\n      valid: rawAttachments.filter(a => a.valid).length,\n      invalid: rawAttachments.filter(a => !a.valid).length,\n      stripped_smime: prepData.stripped_smime_count || 0,\n      stripped_too_large: prepData.stripped_too_large_count || 0,\n      extraction_count: extractions.length\n    }\n  };\n\n  let ticketId = null;\n  let dashboardUrl = 'https://project-ii0tm.vercel.app';\n  try {\n    const webhookResp = await helpers.httpRequest({\n      method: 'POST',\n      url: 'https://project-ii0tm.vercel.app/api/webhook',\n      headers: {\n        'Content-Type': 'application/json',\n        'X-Webhook-Secret': 'REPLACE_WITH_WEBHOOK_SECRET'\n      },\n      body: webhookPayload,\n      json: true\n    });\n    if (webhookResp && webhookResp.ticket_id) {\n      ticketId = webhookResp.ticket_id;\n      dashboardUrl = webhookResp.dashboard_url || `https://project-ii0tm.vercel.app/?ticket=${ticketId}`;\n    }\n  } catch(e) { /* fallback */ }\n\n  results.push({\n    json: {\n      _source: source,\n      ticket_id: ticketId,\n      dashboard_url: dashboardUrl,\n      company: ticket.company,\n      amount: emailAmount,\n      type: ticket.type,\n      scenario,\n      matrix_complete: matrixComplete,\n      matrix_details: matrixResults,\n      from_email, original_subject,\n      to_email, cc_emails,\n      email_date,\n      has_attachments, attachment_count,\n      attachment_names,\n      vision_parsed: ticket.vision_parsed,\n      vision_confidence: ticket.vision_confidence,\n      vision_status: geminiStatus,\n      amount_on_document: docTotal,\n      document_type: ticket.document_type,\n      document_signers: Array.isArray(parsed.document_signers) ? parsed.document_signers : [],\n      extracted_employees: employees,\n      extracted_employee_count: extractedEmployeeCount,\n      employee_extraction_confidence: visionConfidence,\n      employee_extraction_status: ticket.employee_extraction_status,\n      employee_total_extracted: empSum,\n      employee_amount_mismatch: empSumMismatch,\n      depositor_name: '',\n      remark: '',\n      email_body_full: ticket.email_body_full,\n      transaction_id: '',\n      payment_type: extractedEmployeeCount > 0 ? 'salarytoMA' : 'salarytoOTC',\n      payment_date: ticket.payment_date,\n      payroll_period: ticket.payroll_period,\n      initiator_name: ticket.initiator_name,\n      purpose: ticket.purpose,\n      cost_center: ticket.cost_center,\n      doc_company_name: ticket.doc_company_name,\n      doc_payment_date: ticket.doc_payment_date,\n      doc_initiator_name: ticket.doc_initiator_name,\n      doc_purpose: ticket.doc_purpose,\n      doc_cost_center: ticket.doc_cost_center,\n      corporate_wallet: ticket.corporate_wallet,\n      currency: ticket.currency,\n      verification: {\n        company_name: !!(ticket.company && ticket.company !== 'Unknown Company'),\n        payment_type: true,\n        amount: emailAmount > 0,\n        payment_date: !!ticket.payment_date,\n        payroll_period: !!ticket.payroll_period,\n        approval: matrixComplete,\n        attachment: attachment_count > 0,\n        employee_list: extractedEmployeeCount > 0,\n        initiator_name: !!ticket.initiator_name,\n        purpose: !!ticket.purpose,\n        cost_center: !!ticket.cost_center\n      },\n      attachment_base64: prepData.attachment_base64 ? prepData.attachment_base64.base64 : null,\n      attachment_mime_type: prepData.attachment_base64 ? prepData.attachment_base64.mimeType : null,\n      attachment_filename: prepData.attachment_base64 ? prepData.attachment_base64.filename : null,\n      // v13.3 multi-attachment summary (full attachments[] intentionally NOT\n      // included here — payload already POSTed to webhook.js with it, and\n      // base64 blobs would bloat downstream node payloads unnecessarily)\n      attachment_extraction_summary: webhookPayload.attachment_extraction_summary\n    }\n  });\n}\n\nreturn results;\n"
      },
      "id": "parse-validate-v3",
      "name": "AI Parse & Validate v3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        400
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "={{ $json.from_email ? $json.from_email : 'emoney@zeyalabs.ai' }}",
        "subject": "=EMI Pipeline: {{ $json.company }} — {{ $json.scenario }}",
        "bodyContent": "=✉️ Disbursement Request Received\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n🎫  Ticket ID:   {{ $json.ticket_id || 'Pending assignment' }}\n\nYour disbursement request has been received and processed.\n\n🏢  Company:     {{ $json.company }}\n💰  Amount:      {{ $json.amount ? Number($json.amount).toLocaleString() : '0' }} {{ $json.currency || 'MMK' }}\n📄  Type:        {{ $json.payment_type === 'salarytoOTC' ? 'SalaryToOTC (no employee list)' : 'SalaryToMA (with employee list)' }}\n👥  Attachments: {{ $json.attachment_count > 0 ? $json.attachment_count + ' file(s): ' + ($json.attachment_names || []).join(', ') : 'None' }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n🔍  Verification Status\n\n{{ $json.verification && $json.verification.company_name ? '✅' : '⚠️' }} Company name: {{ $json.company }}\n{{ $json.verification && $json.verification.payment_type ? '✅' : '⚠️' }} Payment type: {{ $json.payment_type || 'unknown' }}\n{{ $json.verification && $json.verification.amount ? '✅' : '⚠️' }} Amount: {{ $json.amount ? Number($json.amount).toLocaleString() : '0' }} {{ $json.currency || 'MMK' }}\n{{ $json.verification && $json.verification.payment_date ? '✅' : '⚠️' }} Payment date: {{ $json.payment_date || 'Not specified in request' }}\n{{ $json.verification && $json.verification.payroll_period ? '✅' : '⚠️' }} Payroll period: {{ $json.payroll_period || 'Not specified in request' }}\n{{ $json.verification && $json.verification.approval ? '✅' : '⚠️' }} Approval: {{ $json.matrix_complete ? 'Sales HOD + Finance Manager found' : 'Missing required approvals' }}\n{{ $json.verification && $json.verification.attachment ? '✅' : '⚠️' }} Attachment: {{ $json.attachment_count > 0 ? $json.attachment_count + ' file(s)' : 'None detected' }}\n{{ $json.verification && $json.verification.employee_list ? '✅' : '⚠️' }} Employee list: {{ $json.extracted_employee_count > 0 ? $json.extracted_employee_count + ' employees extracted' : 'None detected (defaults to salarytoOTC)' }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n➡️  Next Steps\n\n{{ $json.scenario === 'NORMAL' ? '1. E-Money team will review and prepare files\\n2. Finance approval (if required)\\n3. Disbursement processing' : $json.scenario === 'MISSING_APPROVAL' ? '1. Please ensure Sales HOD and Finance Manager approvals are included\\n2. Resubmit with complete approvals\\n3. Contact emoney@zeyalabs.ai for questions' : '1. Amount discrepancy detected — please verify\\n2. Resubmit with corrected amounts\\n3. Contact emoney@zeyalabs.ai for questions' }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n🔗  Track this request{{ $json.ticket_id ? ' (' + $json.ticket_id + ')' : '' }}:\n{{ $json.dashboard_url }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nWave Money | E-Money Operations\nemoney@zeyalabs.ai",
        "options": {
          "ccRecipients": "emoney@zeyalabs.ai"
        }
      },
      "id": "send-notification",
      "name": "Send Outlook Notification",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "position": [
        1440,
        300
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_WITH_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook (emoney@zeyalabs.ai)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-from-email",
              "leftValue": "={{ $json.from_email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-rejection-email",
      "name": "Is Rejection Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1040,
        200
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "={{ $json.from_email }}",
        "subject": "=Re: {{ $json.original_subject || 'Your Request' }} — Unable to Process",
        "bodyContent": "=Unable to Process Your Disbursement Request\n\nDear Sender,\n\nWe received your email \"{{ $json.original_subject || \"your request\" }}\" but our automated pipeline was unable to process it.\n\n{{ $json._skip_reason === \"empty_body\" ? \"REASON: Empty or insufficient email body\\n\\nYour email did not contain enough information for us to process the disbursement request.\\n\\nHOW TO FIX:\\n1. Compose a new email to emoney@zeyalabs.ai\\n2. Include in the body: Company name, Total amount, Payment date, Payment type, and Approver names\\n3. Attach your payroll document (PDF, Excel, or image)\\n4. Send the email — our system will process it automatically\" : $json._skip_reason === \"password_protected_file\" ? \"REASON: Password-protected or encrypted file\\n\\nThe attached file is encrypted. Our AI system cannot read password-protected files — this is a security limitation, not a bug.\\n\\nHOW TO FIX:\\n1. Open the file on your computer using the password\\n2. For Excel: File > Info > Protect Workbook > Encrypt with Password > clear the password field > Save\\n3. For PDF: use your PDF editor to remove the password protection\\n4. Save as a new unprotected file\\n5. Re-send your email with the unprotected file attached\" : $json._skip_reason === \"zip_archive\" || $json._skip_reason === \"rar_archive\" || $json._skip_reason === \"7z_archive\" ? \"REASON: Compressed archive file (ZIP/RAR/7z)\\n\\nOur pipeline processes individual documents, not compressed archives.\\n\\nHOW TO FIX:\\n1. Extract/unzip the contents of your archive\\n2. Attach the actual document file directly (not inside a ZIP)\\n3. Accepted formats: PDF, Excel (.xlsx), images (JPG, PNG), or CSV\\n4. Re-send your email with the extracted file attached\" : $json._skip_reason === \"unsupported_file_format\" ? \"REASON: Unsupported file format\\n\\nThe attached file type is not supported by our system.\\n\\nHOW TO FIX:\\n1. Convert your document to one of these accepted formats:\\n   - PDF (recommended)\\n   - Excel spreadsheet (.xlsx)\\n   - Image scan (JPG or PNG)\\n   - CSV or TSV file\\n2. Ensure the file is NOT password-protected\\n3. Re-send your email with the converted file attached\" : $json._skip_reason === \"too_many_attachments\" ? \"REASON: Too many attachments\\n\\nYou attached \" + ($json._raw_non_smime_count || \"several\") + \" files, but our pipeline accepts a maximum of \" + ($json._max_attachments || 5) + \" attachments per email.\\n\\nHOW TO FIX:\\n1. Remove extra attachments — keep only the essential payroll documents\\n2. Maximum \" + ($json._max_attachments || 5) + \" attachments per email (signature files don't count)\\n3. Re-send your email with only the required files attached\" : $json._skip_reason === \"combined\" ? \"REASON: Multiple issues detected in your attachments\\n\\nWe found more than one problem across your files:\\n\" + ($json._combined_reasons ? $json._combined_reasons.map(function(r){return \"  - \" + r.replace(/_/g, \" \");}).join(\"\\n\") : \"\") + \"\\n\\nHOW TO FIX:\\nPlease review each attachment and address every issue above — for example, unlock any password-protected files, extract any archives, and convert any unsupported formats. Then resubmit your email.\" : \"REASON: The request could not be processed. Please contact emoney@zeyalabs.ai for assistance.\" }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\nACCEPTED FILE FORMATS:\n  ✓ PDF documents (unprotected)\n  ✓ Excel spreadsheets (.xlsx, .xls — unprotected)\n  ✓ Images (JPG, PNG — scans or photos of payroll documents)\n  ✓ CSV / TSV files\n\nNOT ACCEPTED:\n  ✗ Password-protected or encrypted files\n  ✗ Compressed archives (ZIP, RAR, 7z)\n  ✗ Word documents (.doc, .docx)\n  ✗ PowerPoint (.ppt, .pptx)\n\nIf you need help, reply to this email or contact emoney@zeyalabs.ai.\n\nBest regards,\nWave Money | E-Money Operations\nemoney@zeyalabs.ai",
        "options": {
          "ccRecipients": "emoney@zeyalabs.ai"
        }
      },
      "id": "send-rejection-email",
      "name": "Send Rejection Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1240,
        200
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_WITH_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook (emoney@zeyalabs.ai)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// EMI Worker — Claim & Reconstitute (KAN-46)\n// ═══════════════════════════════════════════════════════════════\n// 1. Call claim_next_email_job RPC → atomically claim ONE pending row\n// 2. If queue empty, return empty array (workflow ends silently)\n// 3. If claimed, reconstitute item.json + item.binary to look like Outlook Trigger output\n//    so downstream v12.4 chain sees the same shape as before.\n\nconst SUPABASE_URL = 'https://dicluyfkfqlqjwqikznl.supabase.co';\nconst SUPABASE_SERVICE_KEY = 'REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY';\n\nconst workerId = 'worker-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\n\n// Call the atomic claim RPC\nlet claimedRows;\ntry {\n  claimedRows = await helpers.httpRequest({\n    method: 'POST',\n    url: `${SUPABASE_URL}/rest/v1/rpc/claim_next_email_job`,\n    headers: {\n      'apikey': SUPABASE_SERVICE_KEY,\n      'Authorization': 'Bearer ' + SUPABASE_SERVICE_KEY,\n      'Content-Type': 'application/json',\n      'Prefer': 'params=single-object'\n    },\n    body: { p_worker_id: workerId },\n    json: true\n  });\n} catch (e) {\n  // Supabase unreachable — skip this cycle, next cron will retry\n  console.log('[Worker] claim RPC failed:', e.message || String(e));\n  return [];\n}\n\n// RPC returns array of rows (SETOF). Empty array = no pending jobs.\nif (!Array.isArray(claimedRows) || claimedRows.length === 0) {\n  // Queue is empty OR another worker beat us. Exit silently.\n  return [];\n}\n\nconst claimed = claimedRows[0];\nconst payload = claimed.payload || {};\nconst rawEmail = payload.raw_email || {};\nconst attachments = payload.attachments || [];\n\n// Reconstitute binary field — n8n Code nodes can return { json, binary }\nconst binary = {};\nattachments.forEach((a, i) => {\n  if (a.base64) {\n    binary['attachment_' + i] = {\n      data: a.base64,\n      fileName: a.filename || 'attachment_' + i,\n      mimeType: a.mimeType || 'application/octet-stream'\n    };\n  }\n});\n\n// Return ONE item shaped like Outlook Trigger output.\n// Include _queue_* meta for downstream Mark Complete / Mark Failed to use.\nreturn [{\n  json: {\n    ...rawEmail,\n    _queue_id: claimed.id,\n    _queue_message_id: claimed.message_id,\n    _worker_id: workerId\n  },\n  binary: binary\n}];\n"
      },
      "id": "claim-reconstitute",
      "name": "Claim & Reconstitute",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Mark the queue row as completed\n// Reaches back to Claim & Reconstitute for the original message_id\n// (downstream nodes may strip/replace it)\nconst SUPABASE_URL = 'https://dicluyfkfqlqjwqikznl.supabase.co';\nconst SUPABASE_SERVICE_KEY = 'REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY';\n\nlet messageId = '';\ntry {\n  const claimItem = $('Claim & Reconstitute').first();\n  messageId = claimItem?.json?._queue_message_id || claimItem?.json?.id || '';\n} catch(e) {\n  // $() may not be available if execution path skipped that node\n}\n// Fallback: try current item\nif (!messageId) {\n  const d = $input.item?.json || {};\n  messageId = d._queue_message_id || d.message_id || d.id || '';\n}\n\nif (!messageId) {\n  console.log('[Worker] mark-complete: no message_id found; cannot release lock');\n  return { json: { _worker_status: 'no_message_id_release_failed' } };\n}\n\ntry {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: `${SUPABASE_URL}/rest/v1/rpc/mark_email_completed`,\n    headers: {\n      'apikey': SUPABASE_SERVICE_KEY,\n      'Authorization': 'Bearer ' + SUPABASE_SERVICE_KEY,\n      'Content-Type': 'application/json',\n      'Prefer': 'params=single-object'\n    },\n    body: { p_message_id: messageId },\n    json: true\n  });\n} catch(e) {\n  console.log('[Worker] mark-complete RPC failed:', e.message || String(e));\n  // Don't throw — lock will auto-release via 5-min TTL\n}\n\nreturn { json: { _worker_status: 'completed', message_id: messageId } };\n",
        "mode": "runOnceForEachItem"
      },
      "id": "mark-complete-notify",
      "name": "Mark Complete (Notify path)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Mark the queue row as completed\n// Reaches back to Claim & Reconstitute for the original message_id\n// (downstream nodes may strip/replace it)\nconst SUPABASE_URL = 'https://dicluyfkfqlqjwqikznl.supabase.co';\nconst SUPABASE_SERVICE_KEY = 'REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY';\n\nlet messageId = '';\ntry {\n  const claimItem = $('Claim & Reconstitute').first();\n  messageId = claimItem?.json?._queue_message_id || claimItem?.json?.id || '';\n} catch(e) {\n  // $() may not be available if execution path skipped that node\n}\n// Fallback: try current item\nif (!messageId) {\n  const d = $input.item?.json || {};\n  messageId = d._queue_message_id || d.message_id || d.id || '';\n}\n\nif (!messageId) {\n  console.log('[Worker] mark-complete: no message_id found; cannot release lock');\n  return { json: { _worker_status: 'no_message_id_release_failed' } };\n}\n\ntry {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: `${SUPABASE_URL}/rest/v1/rpc/mark_email_completed`,\n    headers: {\n      'apikey': SUPABASE_SERVICE_KEY,\n      'Authorization': 'Bearer ' + SUPABASE_SERVICE_KEY,\n      'Content-Type': 'application/json',\n      'Prefer': 'params=single-object'\n    },\n    body: { p_message_id: messageId },\n    json: true\n  });\n} catch(e) {\n  console.log('[Worker] mark-complete RPC failed:', e.message || String(e));\n  // Don't throw — lock will auto-release via 5-min TTL\n}\n\nreturn { json: { _worker_status: 'completed', message_id: messageId } };\n",
        "mode": "runOnceForEachItem"
      },
      "id": "mark-complete-reject",
      "name": "Mark Complete (Rejection path)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emi-worker-v13-3",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger-worker",
      "name": "Webhook: Worker Dispatch",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "emi-worker-v13-3"
    },
    {
      "parameters": {
        "content": "## EMI Worker v2 — KAN-46 v13.1.1 Zero-Waste + Hardened Parse\n\n**Purpose:** Process one email job from Supabase email_queue when triggered by webhook.\n**Trigger:** Webhook `/emi-worker-v2` — fired by Supabase Database Trigger (on INSERT) OR pg_cron recovery sweeper.\n**No Cron here** — all scheduling lives in Supabase (free, doesn't burn n8n trial cap).\n\n### Flow\n1. Webhook fires (from DB trigger with single-flight gate OR recovery sweep)\n2. Claim & Reconstitute → atomic claim via claim_next_email_job RPC\n3. If no row claimed: exit silently (race with another Worker — harmless)\n4. If row claimed: run v12.4 processing chain (Prepare → Gemini → Parse → Notify)\n5. Mark Complete (notify path OR rejection path)\n6. Chain Next Job → if more pending exists, fire self-webhook for next cycle\n\n### Concurrency protection\n- **Database trigger single-flight gate**: only fires webhook if no row in 'processing'\n  → Burst of 25 emails = 1 webhook fire, not 25\n- **FOR UPDATE SKIP LOCKED** in claim RPC: no two Workers claim same row\n- **5-min TTL on locked_at**: crashed Worker auto-releases its lock\n\n### Gemini retry\n- Retry on Fail: 3 tries, 2s base delay, exponential backoff\n- Protects against Gemini 429 rate limits on consumer tier\n\n### Execution count (target: <30/day)\n- 1 exec per claimed email (plus self-chain if queue drains serially)\n- pg_cron recovery sweep: ~0-1/day (conditional)\n- NO idle polling cost\n\n### Rollback (<30 sec)\n1. Supabase SQL: `ALTER TABLE email_queue DISABLE TRIGGER on_email_queue_insert; SELECT cron.unschedule('worker-recovery-sweep');`\n2. n8n UI: deactivate this workflow + Spooler\n3. n8n UI: activate v12.4\n\n### v13.1.1 patches (Apr 17 evening)\n- **Fix A**: Gemini parser uses brace-balancing + largest-candidate selection (handles 2.5 thinking preamble)\n- **Fix B+C**: `_diagnostic` items route to Mark Failed (not Send Notification) → prevents self-send on extraction failure\n\n### v13.2 additions (Apr 18 morning)\n- **Notify sender on failure**: When extraction fails (Gemini parse error, schema mismatch, etc.), sender receives a polite \"Unable to process\" email with a user-friendly reason + next-step checklist.\n- Skip reasons that don't warrant client-facing notification: `api_error`, `spool_duplicate` (our infra, not client's problem).\n- Loop protection: Should Notify Sender? IF node skips if sender = emoney@zeyalabs.ai.\n- Flow: Is Diagnostic [true] → Should Notify Sender? → {true: Send Failure Notification → Mark Failed | false: Mark Failed directly}",
        "height": 540,
        "width": 520
      },
      "id": "sticky-note-worker-v13-1",
      "name": "Worker v2 Architecture (v13.1)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n// Chain Next Job — v13.1 self-webhook pattern\n// ═══════════════════════════════════════════════════════════════\n// After marking current row complete, check if more pending rows exist.\n// If yes: fire webhook to self (Worker v2's own webhook URL).\n// This drains the queue serially (one Worker exec per email) while the\n// Database trigger's single-flight gate prevents parallel fan-out.\n//\n// Why this vs n8n Loop node: cyclic connections in n8n are fragile;\n// self-webhook is simpler + naturally resumable after crashes.\n\nconst SUPABASE_URL = 'https://dicluyfkfqlqjwqikznl.supabase.co';\nconst SUPABASE_SERVICE_KEY = 'REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY';\n\n// Fetch pending count + worker config from Supabase\nlet pendingCount = 0;\nlet cfg = null;\n\ntry {\n  const countResp = await helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/email_queue?status=eq.pending&select=id&limit=1`,\n    headers: {\n      'apikey': SUPABASE_SERVICE_KEY,\n      'Authorization': 'Bearer ' + SUPABASE_SERVICE_KEY,\n      'Prefer': 'count=exact'\n    },\n    returnFullResponse: true,\n    json: true\n  });\n  // Supabase returns Content-Range: 0-0/N (where N is total count)\n  const range = countResp.headers?.['content-range'] || '';\n  const match = range.match(/\\/(\\d+|\\*)/);\n  pendingCount = match && match[1] !== '*' ? parseInt(match[1], 10) : (Array.isArray(countResp.body) ? countResp.body.length : 0);\n} catch (e) {\n  console.log('[Worker] chain: pending count query failed:', e.message || String(e));\n  // If we can't check, don't chain — recovery sweeper will catch it\n  return { json: { _chain: 'skipped_count_error' } };\n}\n\nif (pendingCount === 0) {\n  return { json: { _chain: 'done', pending: 0 } };\n}\n\n// Fetch worker config (URL + secret)\ntry {\n  const cfgRows = await helpers.httpRequest({\n    method: 'GET',\n    url: `${SUPABASE_URL}/rest/v1/worker_config?id=eq.1&select=worker_url,webhook_secret`,\n    headers: {\n      'apikey': SUPABASE_SERVICE_KEY,\n      'Authorization': 'Bearer ' + SUPABASE_SERVICE_KEY\n    },\n    json: true\n  });\n  cfg = Array.isArray(cfgRows) ? cfgRows[0] : null;\n} catch (e) {\n  console.log('[Worker] chain: config fetch failed:', e.message || String(e));\n  return { json: { _chain: 'skipped_config_error' } };\n}\n\nif (!cfg || !cfg.worker_url || cfg.worker_url.includes('REPLACE_WITH')) {\n  return { json: { _chain: 'skipped_no_config' } };\n}\n\n// Fire self-webhook (fire-and-forget; don't wait for response)\ntry {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: cfg.worker_url,\n    headers: {\n      'Content-Type': 'application/json',\n      'X-Webhook-Secret': cfg.webhook_secret\n    },\n    body: { trigger: 'self_chain', fired_at: new Date().toISOString() },\n    json: true,\n    timeout: 5000  // don't wait long; we only care that the POST was sent\n  });\n} catch (e) {\n  // Fire-and-forget — webhook receipt isn't our concern; n8n responds 200 immediately\n  // If this truly failed, recovery sweeper will catch it within 5 min\n  console.log('[Worker] chain: self-webhook (non-fatal):', e.message || String(e));\n}\n\nreturn { json: { _chain: 'fired', pending: pendingCount } };\n",
        "mode": "runOnceForEachItem"
      },
      "id": "chain-next-job",
      "name": "Chain Next Job",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2100,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "diagnostic-check",
              "leftValue": "={{ $json._diagnostic }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-diagnostic",
      "name": "Is Diagnostic?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1440,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Mark row as failed (diagnostic path — Gemini couldn't extract)\n// v13.1.1 fix: prevents self-send malformed notifications when extraction fails\nconst SUPABASE_URL = 'https://dicluyfkfqlqjwqikznl.supabase.co';\nconst SUPABASE_SERVICE_KEY = 'REPLACE_WITH_SUPABASE_SERVICE_ROLE_KEY';\n\nconst d = $input.item?.json || {};\nlet messageId = '';\ntry {\n  const claimItem = $('Claim & Reconstitute').first();\n  messageId = claimItem?.json?._queue_message_id || claimItem?.json?.id || '';\n} catch(e) {}\nif (!messageId) {\n  messageId = d._queue_message_id || d.message_id || d.id || '';\n}\n\nconst reason = d._reason || 'gemini_extraction_failed';\nconst status = d._gemini_status || 'unknown';\nconst errorMessage = `[v13.1.1] ${reason} | gemini_status=${status}`;\n\nif (!messageId) {\n  console.log('[Worker] mark-failed-diagnostic: no message_id, cannot record failure');\n  return { json: { _worker_status: 'no_message_id_cannot_mark_failed' } };\n}\n\ntry {\n  await helpers.httpRequest({\n    method: 'POST',\n    url: `${SUPABASE_URL}/rest/v1/rpc/mark_email_failed`,\n    headers: {\n      'apikey': SUPABASE_SERVICE_KEY,\n      'Authorization': 'Bearer ' + SUPABASE_SERVICE_KEY,\n      'Content-Type': 'application/json',\n      'Prefer': 'params=single-object'\n    },\n    body: { p_message_id: messageId, p_error_message: errorMessage, p_retry: false },\n    json: true\n  });\n  console.log(`[Worker] Marked ${messageId} as failed: ${errorMessage}`);\n} catch(e) {\n  console.log('[Worker] mark-failed-diagnostic RPC failed:', e.message || String(e));\n}\n\nreturn { json: { _worker_status: 'failed_diagnostic', message_id: messageId, reason, status } };\n",
        "mode": "runOnceForEachItem"
      },
      "id": "mark-failed-diagnostic",
      "name": "Mark Failed (Diagnostic)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-notify-check",
              "leftValue": "={{ $json._should_notify_sender }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "should-notify-sender",
      "name": "Should Notify Sender?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1640,
        600
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toRecipients": "={{ $json.from_email }}",
        "subject": "=Re: {{ $json.original_subject || 'Your request' }} — Unable to process",
        "bodyContent": "=✉️ Disbursement Request — Unable to Process\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\nDear Sender,\n\nThank you for contacting Wave Money E-Money Operations.\n\nOur automated disbursement system received your email but was unable\nto extract the required information for processing.\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\nℹ  What happened\n\n{{ $json._user_friendly_reason }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n➡  What to do next\n\nPlease resubmit your request making sure to include:\n\n  • A clear email body with:\n    - Company name requesting disbursement\n    - Total amount (with currency)\n    - Sales HOD + Finance Manager approvals\n    - Payroll period or payment date\n\n  • If an attachment is required:\n    - Use typed/printed documents when possible\n    - For handwritten payroll lists, ensure high-resolution and clear writing\n    - Accepted formats: PDF, XLSX, CSV, or clear photo (JPG/PNG)\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\n❓  Still having issues?\n\nIf this is the second time your request has failed, please reply to\nthis email or contact our operations team directly.\n\nWe apologize for any inconvenience.\n\n━━━━━━━━━━━━━━━━━━━━━━━━\n\nWave Money | E-Money Operations\nemoney@zeyalabs.ai\n\nReference: {{ $('Claim & Reconstitute').first().json._queue_message_id }}",
        "options": {
          "ccRecipients": "emoney@zeyalabs.ai"
        }
      },
      "id": "send-failure-notification",
      "name": "Send Failure Notification",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1840,
        500
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "REPLACE_WITH_OUTLOOK_CREDENTIAL_ID",
          "name": "Outlook (emoney@zeyalabs.ai)"
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    }
  ],
  "connections": {
    "Webhook: Worker Dispatch": {
      "main": [
        [
          {
            "node": "Claim & Reconstitute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim & Reconstitute": {
      "main": [
        [
          {
            "node": "Prepare for AI v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI v3": {
      "main": [
        [
          {
            "node": "Skip Filter (v11.1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Filter (v11.1)": {
      "main": [
        [
          {
            "node": "Is Rejection Email?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini 3 Extract (Consolidated)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 3 Extract (Consolidated)": {
      "main": [
        [
          {
            "node": "AI Parse & Validate v3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Parse & Validate v3": {
      "main": [
        [
          {
            "node": "Is Diagnostic?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Outlook Notification": {
      "main": [
        [
          {
            "node": "Mark Complete (Notify path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Rejection Email?": {
      "main": [
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Rejection Email": {
      "main": [
        [
          {
            "node": "Mark Complete (Rejection path)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Complete (Notify path)": {
      "main": [
        [
          {
            "node": "Chain Next Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Complete (Rejection path)": {
      "main": [
        [
          {
            "node": "Chain Next Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Diagnostic?": {
      "main": [
        [
          {
            "node": "Should Notify Sender?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Outlook Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Failed (Diagnostic)": {
      "main": [
        [
          {
            "node": "Chain Next Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Notify Sender?": {
      "main": [
        [
          {
            "node": "Send Failure Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Failed (Diagnostic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Failure Notification": {
      "main": [
        [
          {
            "node": "Mark Failed (Diagnostic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}